{%- if customer and template.name == 'product' -%}
  <div class="card-prod__wishlist">
    <button type="button" aria-label="Add to wishlist" class="wishlist-button" button-wishlist data-product-handle="{{ product.handle }}" data-variant-id="{{ product.selected_or_first_available_variant.id }}">
      {% render 'icon-wishlist' %}
    </button>
  </div>
{% else %}
  <div class="card-prod__wishlist ">
    <a href="{{ routes.account_login_url }}" button-wishlist aria-label="Login before add to wishlist">
      {% render 'icon-wishlist' %}
    </a>
  </div>
{%- endif -%}