{%- if product.handle != blank -%}
  <div class="card-prod__wishlist">
    <a href="{{ product.url }}" aria-label="Got to product" class="wishlist-button{% unless customer %} cutomer-not-login{% endunless %}"  button-wishlist data-product-handle="{{ product.handle }}">
      {% render 'icon-wishlist' %}
    </a>
  </div>
{%- endif -%}