{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'custom_variants.scss.css' | asset_url | stylesheet_tag }}
{%- assign product_form_id = 'quick-add-' | append: section_id | append: product.id -%}
<div class="no-js-hidden custom-product-options"
     data-section="{{ section.id }}"
>
    <ul class="pr-custom__variants no-js">
        {% for variant in product.variants %}
            <li class="product-variant"
                value="{{ variant.id }}"
                data-option1="{{ variant.option1 }}"
                data-option2="{{ variant.option2 }}"
                data-option3="{{ variant.option3 }}"
                data-price="{{variant.price | money }}"
                data-compare_at_price="{{variant.compare_at_price | money }}"
            >
                {% if variant.available %}
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                {% else %}
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% for option in product.options_with_values %}
        <fieldset class="js product-form__input">
            <legend class="form__label">{{ option.name }}</legend>
            {% for value in option.values %}
                <input
                        type="button"
                        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        class="badge {% if option.selected_value == value %}checked{% endif %}"
                        data-handle="{{ product.handle }}"
                        data-click="variants"
                        data-id="{{ product.id }}"
                >
            {%- endfor -%}
        </fieldset>
    {%- endfor -%}
</div>