{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- if card_product and card_product != empty -%}
    {%- liquid
        assign extend_height =  false
        assign horizontal_class = false
        assign show_vendor = true
        assign show_quick_add = true
        assign ratio = 1
        if card_product.featured_media and media_aspect_ratio == 'portrait'
            assign ratio = 0.8
        elsif card_product.featured_media and media_aspect_ratio == 'adapt'
            assign ratio = card_product.featured_media.aspect_ratio
        endif
        if ratio == 0 or ratio == nil
            assign ratio = 1
        endif
    -%}

    <div class="card-wrapper product-card product-card-wrapper underline-links-hover">
        <div class="
        card
        card--{{ settings.card_style }}
        {% if market %} market_card{% else %} our_wine{% endif %}
        {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if extend_height %} card--extend-height{% endif %}
        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
        {% if horizontal_class %} card--horizontal{% endif %}
      "
                style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
        >
            <div
                    class="card__inner{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}"
                    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
            >
                {%- if card_product.featured_media -%}
                    <div class="card__media animate">
                        <div class="card__media__bg bg-{{ card_product.metafields.custom.product_color.value }}">
                            {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                            <img
                                    srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "
                                    src="{{ card_product.featured_media | image_url: width: 533 }}"
                                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                    alt="{{ card_product.featured_media.alt | escape }}"
                                    class="motion-reduce"
                                    {% unless lazy_load == false %}
                                        loading="lazy"
                                    {% endunless %}
                                    width="{{ card_product.featured_media.width }}"
                                    height="{{ card_product.featured_media.height }}"
                            >
                            {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

                            {%- if card_product.media[1] != nil and show_secondary_image -%}
                                <img
                                        srcset="
                    {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                  "
                                        src="{{ card_product.media[1] | image_url: width: 533 }}"
                                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                        alt=""
                                        class="motion-reduce"
                                        loading="lazy"
                                        width="{{ card_product.media[1].width }}"
                                        height="{{ card_product.media[1].height }}"
                                >
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}
            </div>
            <div class="card__content">
                <div class="card__information">
                    <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"
                            {% if card_product.featured_media or settings.card_style == 'card' %}
                                id="title-{{ section_id }}-{{ card_product.id }}"
                            {% endif %}
                    >
                        <a href="{{ card_product.url }}"
                           id="CardLink-{{ section_id }}-{{ card_product.id }}"
                           class="full-unstyled-link"
                           aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
                        >
                            {{ card_product.title | escape }}
                        </a>
                    </h3>
                    <div class="card-information">
                        {%- if show_vendor -%}
                            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                            <div class="caption-with-letter-spacing light">{{ card_product.vendor }}</div>
                        {%- endif -%}

                        <span class="caption-large light">{{ card_product.description }}</span>
                        {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
                            {% liquid
                                assign rating_decimal = 0
                                assign decimal = card_product.metafields.reviews.rating.value.rating | modulo: 1
                                if decimal >= 0.3 and decimal <= 0.7
                                    assign rating_decimal = 0.5
                                elsif decimal > 0.7
                                    assign rating_decimal = 1
                                endif
                            %}
                            <div
                                    class="rating"
                                    role="img"
                                    aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}"
                            >
                <span
                        aria-hidden="true"
                        class="rating-star color-icon-{{ settings.accent_icons }}"
                        style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                ></span>
                            </div>
                            <p class="rating-text caption">
                <span aria-hidden="true">
                  {{- card_product.metafields.reviews.rating.value }} /
                  {{ card_product.metafields.reviews.rating.value.scale_max -}}
                </span>
                            </p>
                            <p class="rating-count caption">
                                <span aria-hidden="true">({{ card_product.metafields.reviews.rating_count }})</span>
                                <span class="visually-hidden">
                  {{- card_product.metafields.reviews.rating_count }}
                                    {{ "accessibility.total_reviews" | t -}}
                </span>
                            </p>
                        {%- endif -%}

                        {% render 'price', product: card_product, price_class: '' %}
                    </div>
                </div>
                <div class="card__badge {{ settings.badge_position }}">
                    {%- if card_product.available == false -%}
                        <span
                                id="Badge-{{ section_id }}-{{ card_product.id }}"
                                class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
                        >
              {{- 'products.product.sold_out' | t -}}
            </span>
                    {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
                        <span
                                id="Badge-{{ section_id }}-{{ card_product.id }}"
                                class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
                        >
              {{- 'products.product.on_sale' | t -}}
            </span>
                    {%- endif -%}
                </div>
            </div>
            {% render 'custom-variants', product: card_product %}
            {% render 'custom-add-to-cart', product: card_product %}
        </div>
    </div>
{%- else -%}
    <div class="product-card-wrapper card-wrapper underline-links-hover">
        <div class="
        card
        card--{{ settings.card_style }}
        card--text
        {% if extend_height %} card--extend-height{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
        {{ horizontal_class }}
      "
                style="--ratio-percent: 100%;"
        >
            <div
                    class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}"
                    style="--ratio-percent: 100%;"
            >
                <div class="card__content">
                    <div class="card__information">
                        <h3 class="card__heading">
                            <a role="link" aria-disabled="true" class="full-unstyled-link">
                                {{ 'onboarding.product_title' | t }}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="card__content">
                <div class="card__information">
                    <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
                        <a role="link" aria-disabled="true" class="full-unstyled-link">
                            {{ 'onboarding.product_title' | t }}
                        </a>
                    </h3>
                    <div class="card-information">
                        {%- if show_vendor -%}
                            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                            <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
                        {%- endif -%}
                        {% render 'price' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
