{% assign handle = product.handle | json %}
{% assign selectedId =  product.selected_or_first_available_variant.id | json %}
{%- capture productData -%}
    {
        "handle": {{ handle }},
        "selectedId": {{ selectedId }},
        "qty": "1"
    }
{%- endcapture -%}

<form method="post" action="/cart/add" class="product-sale-form">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
    <button type="button" class="button button--secondary decrease">-</button>
    <input min="{{ product.inventory_quantity | json }}" type="number" id="quantity" name="quantity" value="1"/>
    <button type="button" class="button button--secondary increase">+</button>
    <input type="button"
           value="Add to cart"
           class="add-to-cart button"
           data-product='{{ productData }}'
    />
    <div class="error-field"></div>
</form>
