<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.3848 1.41435C17.6037 0.633306 16.3374 0.633305 15.5563 1.41435L4.24264 12.7281L10.1352 18.6206L21.4489 7.30691C22.23 6.52586 22.23 5.25953 21.4489 4.47848L18.3848 1.41435Z" fill="#2E385A"/>
<path d="M4.24264 12.7281L2.94628 19.917L10.1352 18.6206L4.24264 12.7281Z" fill="#2E385A"/>
<rect x="13.7891" y="3.18164" width="1.5" height="8.33333" transform="rotate(-45 13.7891 3.18164)" fill="#FFF7F0"/>
</svg>