<svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M34 64.0446C17.4085 64.0446 3.95542 50.5915 3.95542 34C3.95542 17.4085 17.4085 3.95542 34 3.95542C50.5915 3.95542 64.0446 17.4085 64.0446 34C64.0446 50.5915 50.5915 64.0446 34 64.0446ZM34 1C15.7794 1 1 15.7654 1 34C1 52.2346 15.7794 67 34 67C52.2209 67 67 52.2209 67 34C67 15.7791 52.2209 1 34 1Z" fill="#2E385A" stroke="#2E385A" stroke-width="2"/>
<path d="M48.1957 25.3939L52.8472 30.03C56.9715 25.9195 56.9715 19.2482 52.8472 15.1376C48.723 11.027 42.0296 11.027 37.9054 15.1376L42.557 19.7738L33.9975 29.6392C30.279 25.3669 27.0472 21.6337 25.4381 19.7738L30.0897 15.1376C25.9655 11.027 19.2721 11.027 15.1478 15.1376C11.0236 19.2482 11.0236 25.9195 15.1478 30.03L19.7994 25.3939L30.0221 34.2215L14.6611 51.9172V53.1975H15.9456C15.9456 53.1975 25.2082 45.219 33.984 37.6313L52.0224 53.1975H53.307V51.9172C53.307 51.9172 45.4642 42.8874 37.946 34.2215C42.3812 30.4074 46.262 27.0516 48.1686 25.3939" fill="#2E385A"/>
</svg>
