<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="8" cy="8" r="8" fill="#2E385A" fill-opacity="0.5"/>
<path d="M4.88888 4L11.9999 11.1111L11.111 12L4 4.88889L4.88888 4Z" fill="white"/>
<path d="M4.00009 11.1111L11.1111 4.00001L12 4.8889L4.88897 12L4.00009 11.1111Z" fill="white"/>
</svg>
