<svg  width="18" height="18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 18 17.3" enable-background="new 0 0 18 17.3" xml:space="preserve">
<g>
  <path d="M12.7,0C10.3,0,9,1.6,9,1.6C9,1.5,7.6,0,5.3,0C2.5,0,0,2.2,0,5.3c0,4.9,9,12,9,12l0,0l0,0c0,0,9-7,9-12
		C18,2.2,15.5,0,12.7,0z"/>
  <path d="M12.7,0C10.3,0,9,1.6,9,1.6C9,1.5,7.6,0,5.3,0C2.5,0,0,2.2,0,5.3c0,4.9,9,12,9,12l0,0l0,0c0,0,9-7,9-12
		C18,2.2,15.5,0,12.7,0z M9,14.6L9,14.6c0,0-7-5.9-7-9.4C2,4.1,2.7,2,5.3,2C8,2,9,5.2,9,5.3l0,0l0,0l0,0l0,0c0,0,1-3.3,3.7-3.3
		C15.3,2,16,4.1,16,5.3C16,8.7,9,14.6,9,14.6z"/>
</g>
</svg>
