<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.7354 4.59574C18.4822 4.21277 17.9759 3.95745 17.4695 3.95745H5.69658L5.19021 1.40426C5.06362 0.638298 4.17749 0 3.41795 0H0V2.04255H3.29135L5.19021 11.234C5.3168 12 6.20294 12.6383 6.96248 12.6383H14.9377C15.6972 12.6383 16.5834 12.1277 16.8365 11.3617L18.862 6C19.1152 5.48936 18.9886 4.97872 18.7354 4.59574ZM15.0645 10.7227H7.21585L6.20312 6.12695H16.7101L15.0645 10.7227ZM7.72076 13.9141C6.58145 13.9141 5.69531 14.8077 5.69531 15.9566C5.69531 17.1056 6.58145 17.9992 7.72076 17.9992C8.86008 17.9992 9.74621 17.1056 9.74621 15.9566C9.74621 14.8077 8.86008 13.9141 7.72076 13.9141ZM14.8106 13.9141C13.6713 13.9141 12.7852 14.8077 12.7852 15.9566C12.7852 17.1056 13.6713 17.9992 14.8106 17.9992C15.9499 17.9992 16.8361 17.1056 16.8361 15.9566C16.8361 14.8077 15.9499 13.9141 14.8106 13.9141Z" fill="#2E385A"/>
</svg>
