<svg class="icon icon-cart-empty" aria-hidden="true" focusable="false" role="presentation" width="19" height="18"  viewBox="-2 -10 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7354 4.59574C18.4822 4.21277 17.9759 3.95745 17.4695 3.95745H5.69658L5.19021 1.40426C5.06362 0.638298 4.17749 0 3.41795 0H0V2.04255H3.29135L5.19021 11.234C5.3168 12 6.20294 12.6383 6.96248 12.6383H14.9377C15.6972 12.6383 16.5834 12.1277 16.8365 11.3617L18.862 6C19.1152 5.48936 18.9886 4.97872 18.7354 4.59574ZM15.0643 10.7234H7.21566L6.20294 6.12766H16.71L15.0643 10.7234ZM7.72202 13.9149C6.58271 13.9149 5.69658 14.8085 5.69658 15.9574C5.69658 17.1064 6.58271 18 7.72202 18C8.86134 18 9.74747 17.1064 9.74747 15.9574C9.74747 14.8085 8.86134 13.9149 7.72202 13.9149ZM14.8111 13.9149C13.6718 13.9149 12.7856 14.8085 12.7856 15.9574C12.7856 17.1064 13.6718 18 14.8111 18C15.9504 18 16.8365 17.1064 16.8365 15.9574C16.8365 14.8085 15.9504 13.9149 14.8111 13.9149Z" fill="#2E385A"/>
</svg>
