<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M14 12.4995C14 11.5541 12.5745 11.0289 11.8542 10.7438C11.4191 10.5638 10.9689 10.3837 10.5338 10.1886C9.94855 9.91854 9.34834 9.60343 8.91318 9.10825C8.76313 8.92819 8.6731 8.80815 8.6731 8.56806C8.6731 8.22294 8.76313 7.87781 8.83816 7.5477C8.9582 7.03751 9.21329 6.61736 9.42337 6.13719C9.66345 5.53698 9.75348 4.90675 9.87353 4.29153C9.91854 4.02144 9.99357 3.76635 9.99357 3.49625C9.99357 1.63558 9.01822 0 6.9925 0C4.96677 0 3.99143 1.63558 3.99143 3.49625C3.99143 3.76635 4.08146 4.02144 4.12647 4.29153C4.26152 4.90675 4.33655 5.53698 4.59164 6.13719C4.80171 6.61736 5.07181 7.03751 5.17685 7.5477C5.26688 7.87781 5.34191 8.22294 5.34191 8.56806C5.34191 8.80815 5.25188 8.92819 5.10182 9.10825C4.66667 9.60343 4.06645 9.91854 3.48124 10.1886C3.04609 10.3987 2.59593 10.5638 2.16077 10.7438C1.44051 11.0439 0 11.5541 0 12.4995V14H14V13.1297V12.4995Z" fill="#2E385A"/>
</svg>
