{% comment %}
    Accepts:
    - product: {Object} Product Liquid object
    - product_block: Boolean

    Usage:
    {% render 'product-badges', product: product %}
{% endcomment %}

{%- liquid
  assign inventory = 0
  for variant in product.variants
    assign inventory = inventory | plus: variant.inventory_quantity
  endfor
-%}
<div class="card__badge {{ settings.badge_position }}">
  {%- if inventory <= 3 -%}
    <span
      class="badge badge--bottom-left"
    >
      {% if template.name == 'product' %}
        {{- 'products.product.only_few_left' | t | capitalize -}}
      {% else %}
        {{- 'products.product.only_few_left' | t -}}
      {%- endif -%}
    </span>
  {%- endif -%}
  {%- if product.available == false and settings.sold_out_badge_show and product_block != true -%}
    <span
      class="badge badge--bottom-left"
    >
      {{- 'products.product.only_few_left' | t -}}
    </span>
  {%- endif -%}  
  {%- if product.compare_at_price > product.price and product.available and settings.sale_badge_show  and product_block != true -%}
    <span
      class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
    >
      {{- 'products.product.on_sale' | t -}}
    </span>
  {%- endif -%}
  {% if product.tags contains 'new'%}
    <span
      class="badge badge--bottom-left"
    >
      {% if product_block %}
        <span class="color-green">{{- 'products.product.new' | t | capitalize -}}</span>
      {% else %}
         {{- 'products.product.new' | t -}}
      {%- endif -%}
    </span>
  {% endif %}
</div>