{%- if section.settings.img != blank -%}
  <div class="about-img about-img-{{ section.id }}">
    {%- if section.settings.title != blank and section.settings.heading_type == 'h1' -%}
      <h1 class="about-img__title">{{ section.settings.title }}</h2>
    {%- elsif section.settings.heading_type == 'h2' -%}
      <h2 class="about-img__title">{{ section.settings.title }}</h2>
    {%- endif -%}
    <div class="about-img__content">
        <div class="about-img__img__wrapper">
          <img class="about-img__img lazyload" width="670" height="370" data-src="{{ section.settings.img | img_url: 'master' }}" alt="{{ section.settings.img.alt }}">
          {%- if section.settings.caption != blank -%}
            <p class="about-img__caption">{{ section.settings.caption }}</p>
          {%- endif -%}
        </div>
        {%- if section.settings.subtitle != blank -%}
            <div class="about-img__subtitle">{{ section.settings.subtitle }}</div>
        {%- endif -%}
    </div>
  </div>
{%- endif -%}


{% schema %}
{
  "name": "About Image",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "select",
    "id": "heading_type",
    "label": "Heading type",
    "options": [
        {
            "label": "H1",
            "value": "h1"
        },
        {
            "label": "H2",
            "value": "h2"
        }
    ],
    "default": "h2"
  },
  {
    "type": "richtext",
    "id": "subtitle",
    "label": "Subtitle"
  },
    {
    "type": "image_picker",
    "id": "img",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "caption",
    "label": "Image caption"
  }
  ],
  "presets": [
    {
      "name": "About Image"
    }
  ]
}
{% endschema %}
