
  <div class="accordion accordion-{{ section.id }}">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'cantine' -%}
                <div class="accordion__block">
                        {%- if block.settings.cantine_heading != blank -%}
                            <div class="accordion__heading">
                                {% render 'icon-cantine-logo' %}
                                <h3>{{ block.settings.cantine_heading }}</h3>
                            </div>
                        {%- endif -%}
                        <div class="accordion__content">
                            <div class="accordion__content__left">
                                {%- if block.settings.cantine_left_top_text != blank -%}
                                    <div class="accordion__text">{{ block.settings.cantine_left_top_text }}</div>
                                {%- endif -%}
                                {%- if block.settings.cantine_left_img != blank -%}
                                    <img class="accordion__img__left lazyload" width="550" height="310" data-src="{{ block.settings.cantine_left_img | img_url: 'master' }}" alt="{{ block.settings.cantine_left_img.alt }}">
                                {%- endif -%}
                                {%- if block.settings.cantine_left_img_text != blank -%}
                                    <p class="accordion__caption">{{ block.settings.cantine_left_img_text }}</p>
                                {%- endif -%}
                                {%- if block.settings.cantine_left_bottom_text != blank -%}
                                    <div class="accordion__text">{{ block.settings.cantine_left_bottom_text }}</div>
                                {%- endif -%}
                            </div>
                            <div class="accordion__content__right">
                                {%- if block.settings.cantine_right_img != blank -%}
                                    <img class="accordion__img__right lazyload" width="325" height="430" data-src="{{ block.settings.cantine_right_img | img_url: 'master' }}" alt="{{ block.settings.cantine_right_img }}">
                                {%- endif -%}
                                <ul class="accordion__list">
                                {%- if block.settings.cantine_right_first_address != blank -%}
                                    <li class="accordion__item">
                                        <address class="accordion__address">{{ block.settings.cantine_right_first_address }}</address>
                                        <a class="accordion__link" target="_blank" href="{{ block.settings.cantine_right_first_link }}">Google Maps</a>
                                    </li>
                                {%- endif -%}
                                {%- if block.settings.cantine_right_second_address != blank -%}
                                    <li class="accordion__item">
                                        <address class="accordion__address">{{ block.settings.cantine_right_second_address }}</address>
                                        <a class="accordion__link" target="_blank" href="{{ block.settings.cantine_right_second_link }}">Google Maps</a>
                                    </li>
                                {%- endif -%}
                                {%- if block.settings.cantine_right_third_address != blank -%}
                                    <li class="accordion__item">
                                        <address class="accordion__address">{{ block.settings.cantine_right_third_address }}</address>
                                        <a class="accordion__link" target="_blank" href="{{ block.settings.cantine_right_third_link }}">Google Maps</a>
                                    </li>
                                {%- endif -%}
                                </ul>
                            </div>
                        </div>
                </div>
            {%- when 'chiodi' -%}
                <div class="accordion__block">
                        {%- if block.settings.chiodi_heading != blank -%}
                            <div class="accordion__heading">
                                {% render 'icon-chiodi-logo' %}
                                <h3>{{ block.settings.chiodi_heading }}</h3>
                            </div>
                        {%- endif -%}
                        <div class="accordion__content">
                            <div class="accordion__content__left">
                                {%- if block.settings.chiodi_left_top_text != blank -%}
                                    <div class="accordion__text">{{ block.settings.chiodi_left_top_text }}</div>
                                {%- endif -%}
                                {%- if block.settings.chiodi_left_img != blank -%}
                                    <img class="accordion__img__left lazyload" width="550" height="310" data-src="{{ block.settings.chiodi_left_img | img_url: 'master' }}" alt="{{ block.settings.chiodi_left_img.alt }}">
                                {%- endif -%}
                                {%- if block.settings.chiodi_left_img_text != blank -%}
                                    <p class="accordion__caption">{{ block.settings.chiodi_left_img_text }}</p>
                                {%- endif -%}
                                {%- if block.settings.chiodi_left_bottom_text != blank -%}
                                    <div class="accordion__text">{{ block.settings.chiodi_left_bottom_text }}</div>
                                {%- endif -%}
                            </div>
                            <div class="accordion__content__right">
                                {%- if block.settings.chiodi_right_img != blank -%}
                                    <img class="accordion__img__right lazyload" width="325" height="430" data-src="{{ block.settings.chiodi_right_img | img_url: 'master' }}" alt="{{ block.settings.chiodi_right_img.alt }}">
                                {%- endif -%}
                                <ul class="accordion__list">
                                {%- if block.settings.chiodi_right_first_address != blank -%}
                                    <li class="accordion__item">
                                        <address class="accordion__address">{{ block.settings.chiodi_right_first_address }}</address>
                                        <a class="accordion__link" target="_blank" href="{{ block.settings.chiodi_right_first_link }}">Google Maps</a>
                                    </li>
                                {%- endif -%}
                                {%- if block.settings.chiodi_right_second_address != blank -%}
                                    <li class="accordion__item">
                                        <address class="accordion__address">{{ block.settings.chiodi_right_second_address }}</address>
                                        <a class="accordion__link" target="_blank" href="{{ block.settings.chiodi_right_second_link }}">Google Maps</a>
                                    </li>
                                {%- endif -%}
                                {%- if block.settings.chiodi_right_third_address != blank -%}
                                    <li class="accordion__item">
                                        <address class="accordion__address">{{ block.settings.chiodi_right_third_address }}</address>
                                        <a class="accordion__link" target="_blank" href="{{ block.settings.chiodi_right_third_link }}">Google Maps</a>
                                    </li>
                                {%- endif -%}
                                </ul>
                            </div>
                        </div>
                </div>
            {%- when 'vinicola' -%}
                <div class="accordion__block">
                        {%- if block.settings.vinicola_heading != blank -%}
                            <div class="accordion__heading">
                                {% render 'icon-vinicola-logo' %}
                                <h3>{{ block.settings.vinicola_heading }}</h3>
                            </div>
                        {%- endif -%}
                        <div class="accordion__content">
                            <div class="accordion__content__left">
                                {%- if block.settings.vinicola_left_top_text!= blank -%}
                                    <div class="accordion__text">{{ block.settings.vinicola_left_top_text }}</div>
                                {%- endif -%}
                                {%- if block.settings.vinicola_left_img != blank -%}
                                    <img class="accordion__img__left lazyload" width="550" height="310" data-src="{{ block.settings.vinicola_left_img | img_url: 'master' }}" alt="{{ block.settings.vinicola_left_img.alt }}">
                                {%- endif -%}
                                {%- if block.settings.vinicola_left_img_text != blank -%}
                                    <p class="accordion__caption">{{ block.settings.vinicola_left_img_text }}</p>
                                {%- endif -%}
                                {%- if block.settings.vinicola_left_bottom_text != blank -%}
                                    <div class="accordion__text">{{ block.settings.vinicola_left_bottom_text }}</div>
                                {%- endif -%}
                            </div>
                            <div class="accordion__content__right">
                                {%- if block.settings.vinicola_right_img != blank -%}
                                    <img class="accordion__img__right lazyload" width="325" height="430" data-src="{{ block.settings.vinicola_right_img | img_url: 'master' }}" alt="{{ block.settings.vinicola_right_img }}">
                                {%- endif -%}
                                <ul class="accordion__list">
                                {%- if block.settings.vinicola_right_first_address != blank -%}
                                    <li class="accordion__item">
                                        <address class="accordion__address">{{ block.settings.vinicola_right_first_address }}</address>
                                        <a class="accordion__link" target="_blank" href="{{ block.settings.vinicola_right_first_link }}">Google Maps</a>
                                    </li>
                                {%- endif -%}
                                {%- if block.settings.vinicola_right_second_address != blank -%}
                                    <li class="accordion__item">
                                        <address class="accordion__address">{{ block.settings.vinicola_right_second_address }}</address>
                                        <a class="accordion__link" target="_blank" href="{{ block.settings.vinicola_right_second_link }}">Google Maps</a>
                                    </li>
                                {%- endif -%}
                                {%- if block.settings.vinicola_right_third_address != blank -%}
                                    <li class="accordion__item">
                                        <address class="accordion__address">{{ block.settings.vinicola_right_third_address }}</address>
                                        <a class="accordion__link" target="_blank" href="{{ block.settings.vinicola_right_third_link }}">Google Maps</a>
                                    </li>
                                {%- endif -%}
                                </ul>
                            </div>
                        </div>
                </div>
        {%- endcase -%}
    {%- endfor -%}
  </div>



{% schema %}
{
  "name": "About Accordion",
  "blocks": [
    {
        "type": "cantine",
        "name": "Cantine Block",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "cantine_heading",
                "default": "Cantine Ghidossi",
                "label": "Heading"
            },
            {
                "type": "header",
                "content": "left side"
            },
            {
                "type": "richtext",
                "id": "cantine_left_top_text",
                "label": "Left top text"
            },
            {
                "type": "image_picker",
                "id": "cantine_left_img",
                "label": "Left image"
            },
            {
                "type": "text",
                "id": "cantine_left_img_text",
                "label": "Image caption"
            },
            {
                "type": "richtext",
                "id": "cantine_left_bottom_text",
                "label": "Left bottom text"
            },
            {
                "type": "header",
                "content": "right side"
            },
            {
                "type": "image_picker",
                "id": "cantine_right_img",
                "label": "Right image"
            },
            {
                "type": "richtext",
                "id": "cantine_right_first_address",
                "label": "First address"
            },
            {
                "type": "url",
                "id": "cantine_right_first_link",
                "label": "First link"
            },
            {
                "type": "richtext",
                "id": "cantine_right_second_address",
                "label": "Second address"
            },
            {
                "type": "url",
                "id": "cantine_right_second_link",
                "label": "Second link"
            },
            {
                "type": "richtext",
                "id": "cantine_right_third_address",
                "label": "Third address"
            },
            {
                "type": "url",
                "id": "cantine_right_third_link",
                "label": "Third link"
            }   
        ]
    },
    {
        "type": "chiodi",
        "name": "Chiodi Block",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "chiodi_heading",
                "default": "Chiodi Ascona",
                "label": "Heading"
            },
            {
                "type": "header",
                "content": "left side"
            },
            {
                "type": "richtext",
                "id": "chiodi_left_top_text",
                "label": "Left top text"
            },
            {
                "type": "image_picker",
                "id": "chiodi_left_img",
                "label": "Left image"
            },
            {
                "type": "text",
                "id": "chiodi_left_img_text",
                "label": "Image caption"
            },
            {
                "type": "richtext",
                "id": "chiodi_left_bottom_text",
                "label": "Left bottom text"
            },
            {
                "type": "header",
                "content": "right side"
            },
            {
                "type": "image_picker",
                "id": "chiodi_right_img",
                "label": "Right image"
            },
            {
                "type": "richtext",
                "id": "chiodi_right_first_address",
                "label": "First address"
            },
            {
                "type": "url",
                "id": "chiodi_right_first_link",
                "label": "First link"
            },
            {
                "type": "richtext",
                "id": "chiodi_right_second_address",
                "label": "Second address"
            },
            {
                "type": "url",
                "id": "chiodi_right_second_link",
                "label": "Second link"
            },
            {
                "type": "richtext",
                "id": "chiodi_right_third_address",
                "label": "Third address"
            },
            {
                "type": "url",
                "id": "chiodi_right_third_link",
                "label": "Third link"
            }   
        ]
    },
    {
        "type": "vinicola",
        "name": "Vinicola Block",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "vinicola_heading",
                "default": "Vinicola Carlevaro",
                "label": "Heading"
            },
            {
                "type": "header",
                "content": "left side"
            },
            {
                "type": "richtext",
                "id": "vinicola_left_top_text",
                "label": "Left top text"
            },
            {
                "type": "image_picker",
                "id": "vinicola_left_img",
                "label": "Left image"
            },
            {
                "type": "text",
                "id": "vinicola_left_img_text",
                "label": "Image caption"
            },
            {
                "type": "richtext",
                "id": "vinicola_left_bottom_text",
                "label": "Left bottom text"
            },
            {
                "type": "header",
                "content": "right side"
            },
            {
                "type": "image_picker",
                "id": "vinicola_right_img",
                "label": "Right image"
            },
            {
                "type": "richtext",
                "id": "vinicola_right_first_address",
                "label": "First address"
            },
            {
                "type": "url",
                "id": "vinicola_right_first_link",
                "label": "First link"
            },
            {
                "type": "richtext",
                "id": "vinicola_right_second_address",
                "label": "Second address"
            },
            {
                "type": "url",
                "id": "vinicola_right_second_link",
                "label": "Second link"
            },
            {
                "type": "richtext",
                "id": "vinicola_right_third_address",
                "label": "Third address"
            },
            {
                "type": "url",
                "id": "vinicola_right_third_link",
                "label": "Third link"
            }   
        ]
    }
  ],
  "presets": [
    {
      "name": "About Accordion"
    }
  ]
}
{% endschema %}
