<div class="about-table about-table-{{ section.id }}">
    {%- if section.settings.title != blank -%}
        <h2 class="about-table__title">{{ section.settings.title }}</h2>
    {%- endif -%}
    {%- if section.settings.subtitle != blank -%}
        <div class="about-table__subtitle">{{ section.settings.subtitle }}</div>
    {%- endif -%}
    <ul class="about-table__content">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'table' -%}
                <li class="about-table__block">
                    <div class="about-table__text">
                        <div class="about-table__text__wrapper">
                            {%- if block.settings.table_title != blank -%}
                                <div class="about-table__block__title">{{ block.settings.table_title }}</div>
                            {%- endif -%}
                            {%- if block.settings.table_subtitle != blank -%}
                                <div class="about-table__block__subtitle">{{ block.settings.table_subtitle }}</div>
                            {%- endif -%}
                        </div>
                        {%- if block.settings.table_names != blank -%}
                            <div class="about-table__block__names">{{ block.settings.table_names }}</div>
                        {%- endif -%}
                    </div>
                    {%- if block.settings.table_year != blank -%}
                        <div class="about-table__block__year">{{ block.settings.table_year }}</div>
                    {%- endif -%}
                </li>
            {%- endcase -%}
        {%- endfor -%}
    </ul>
    {%- if section.settings.btn != blank -%}
        <div class="about-table__btn__wrapper"><button class="about-table__btn">{{ section.settings.btn }}</button></div>
    {%- endif -%}
</div>


{% schema %}
{
  "name": "About Table",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle"
    },
    {
        "type": "text",
        "id": "btn",
        "label": "Button"
    }
  ],
  "blocks": [
    {
        "type": "table",
        "name": "Table Block",
        "settings": [
            {
                "type": "text",
                "id": "table_title",
                "label": "Table title"
            },
            {
                "type": "text",
                "id": "table_subtitle",
                "label": "Table subtitle"
            },
            {
                "type": "richtext",
                "id": "table_names",
                "label": "Table names"
            },
            {
                "type": "text",
                "id": "table_year",
                "label": "Table year"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "About Table"
    }
  ]
}
{% endschema %}
