{%- if section.settings.video != blank -%}
  <div class="banner-video banner-video-{{ section.id }}">
    <div class="banner-video__content">
      {%- if section.settings.title != blank and section.settings.heading_type == 'h1' -%}
          <h1 class="banner-video__title">{{ section.settings.title }}</h2>
      {%- elsif section.settings.heading_type == 'h2' -%}
          <h2 class="banner-video__title">{{ section.settings.title }}</h2>
      {%- endif -%}
      {%- if section.settings.subtitle != blank -%}
          <p class="banner-video__subtitle">{{ section.settings.subtitle }}</p>
      {%- endif -%}
    </div>
    <video class="banner-video__video" autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto" >
      <source src="{{ section.settings.video }}" type="video/mp4">
      <track src="captions_en.vtt" kind="captions" srclang="en" label="{{ section.settings.title }} Video">
    </video>
  </div>
{%- endif -%}


{% schema %}
{
  "name": "Banner Video",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "select",
    "id": "heading_type",
    "label": "Heading type",
    "options": [
        {
            "label": "H1",
            "value": "h1"
        },
        {
            "label": "H2",
            "value": "h2"
        }
    ],
    "default": "h2"
  },
  {
    "type": "text",
    "id": "subtitle",
    "label": "Subtitle"
  },
  {
    "type": "url",
    "id": "video",
    "label": "Link Video Desktop"
  }
  ],
  "presets": [
    {
      "name": "Banner Video"
    }
  ]
}
{% endschema %}
