{%- style -%}
  .banner-slider-{{ section.id }} {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .banner-slider-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .banner-slider-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

  <div class="banner-slider banner-slider-{{ section.id }}">
    <div class="banner-slider__content">
        {%- if section.settings.title != blank -%}
            <div class="banner-slider__content__wrapper">
                {%- if section.settings.heading_type == 'h1' -%}
                    <h1 class="banner-slider__title">{{ section.settings.title }}</h2>
                {%- else -%}
                    <h2 class="banner-slider__title">{{ section.settings.title }}</h2>
                {%- endif -%}
                {%- if section.settings.subtitle != blank -%}
                    <div class="banner-slider__subtitle">{{ section.settings.subtitle }}</div>
                {%- endif -%}
            </div>
        {%- endif -%}
        <div class="swiper banner-slider__slider banner-slider__slider-{{ section.id }}">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when 'slide' -%}
                            {%- if block.settings.img != blank -%}
                                <div class="swiper-slide banner-slider__slide">
                                    <img class="banner-slider__img" src="{{ block.settings.img | img_url: 'master' }}" alt="{{ block.settings.img.alt }}">
                                </div>
                            {%- endif -%}
                    {%- endcase -%}
                {%- endfor -%}
            </div>
            <div class="swiper-pagination banner-slider__pagination{% if section.settings.show_next_event_box %} event-offset{% endif %}"></div>
        </div>
    </div>
    {%- if section.settings.show_next_event_box -%}
        <div class="banner-slider__event">
            {%- if section.settings.event_header != blank -%}
                <p class="banner-slider__event__header">{{ section.settings.event_header }}</p>
            {%- endif -%}
            <div class="banner-slider__event__content">
                <div class="banner-slider__event__left">
                    {%- if section.settings.event_title != blank -%}
                        <p class="banner-slider__event__title">{{ section.settings.event_title }}</p>
                    {%- endif -%}
                    {%- if section.settings.event_subtitle != blank -%}
                        <p class="banner-slider__event__subtitle">{{ section.settings.event_subtitle }}</p>
                    {%- endif -%}
                </div>
                <div class="banner-slider__event__center">
                    {%- if section.settings.event_date != blank -%}
                        <p class="banner-slider__event__date">{{ section.settings.event_date }}</p>
                    {%- endif -%}
                    {%- if section.settings.event_time != blank -%}
                        <p class="banner-slider__event__time">{{ section.settings.event_time }}</p>
                    {%- endif -%}
                </div>
                <div class="banner-slider__event__right">
                    {%- if section.settings.event_link_url != blank and section.settings.event_link_name != blank -%}
                        <a class="banner-slider__event__link" target="_blank" href="{{ section.settings.event_link_url }}">{{ section.settings.event_link_name }}</a>
                    {%- endif -%}
                </div>
            </div>
        </div>
    {%- endif -%}
  </div>

  <script>
    let bannerSwiper = new Swiper('.banner-slider__slider-{{ section.id }}', {
        allowTouchMove: false,
        autoplay: {
            delay: 3000,
        },
        pagination: {
            el: ".banner-slider__pagination",
        },
      });
  </script>



{% schema %}
{
  "name": "Banner Slider",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "select",
        "id": "heading_type",
        "label": "Heading type",
        "options": [
            {
                "label": "H1",
                "value": "h1"
            },
            {
                "label": "H2",
                "value": "h2"
            }
        ],
        "default": "h2"
    },
    {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle"
    },
    {
        "type": "header",
        "content": "Next event"
    },
    {
        "type": "checkbox",
        "id": "show_next_event_box",
        "label": "Show next event block",
        "default": true
    },
    {
        "type": "text",
        "id": "event_header",
        "label": "Header",
        "default": "nächstes Event"
    },
    {
        "type": "text",
        "id": "event_title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "event_subtitle",
        "label": "Subtitle"
    },
    {
        "type": "text",
        "id": "event_date",
        "label": "Date"
    },
    {
        "type": "text",
        "id": "event_time",
        "label": "Time"
    },
    {
        "type": "text",
        "id": "event_link_name",
        "label": "Link name",
        "default": "Adresse"
    },
    {
        "type": "url",
        "id": "event_link_url",
        "label": "Link url"
    },
    {
        "type": "header",
        "content": "Desktop paddings"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 32
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 150
    },
    {
        "type": "header",
        "content": "Mobile paddings"
    },
    {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 24
    },
    {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 74
    }
  ],
    "blocks": [
    {
        "type": "slide",
        "name": "Slide",
        "settings": [
            {
                "type": "image_picker",
                "id": "img",
                "label": "Slide"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Banner Slider"
    }
  ]
}
{% endschema %}
