{{ 'component-card.css' | asset_url | stylesheet_tag }}
<script src="{{ 'sale.js' | asset_url }}" defer="defer"></script>

<div class="final-sale-page final-sale-page-{{ section.id }}" style="width: 120rem; margin: 0 auto;">
    {%- if section.settings.title != blank -%}
        <h2 class="final-sale-page__title">{{ section.settings.title }}</h2>
    {%- endif -%}
    {%- if section.settings.subtitle != blank -%}
        <div class="final-sale-page__subtitle">{{ section.settings.subtitle }}</div>
    {%- endif -%}

  <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'general.slider.name' | t }}">
    {%- for block in section.blocks -%}
      <li id="Slide-{{ section.id }}-{{ forloop.index }}"
          class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}"
          style="flex-grow: 0"
      >
        {% assign product = all_products[block.settings.final_sale_product_handle] %}
        {% render 'custom-card-product',
                card_product: product,
                media_aspect_ratio: "adapt",
                section_id: section.id
        %}
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "Final Sale",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
    {
      "type": "sale-product",
      "name": "Final sale product",
      "settings": [
        {
          "type": "text",
          "id": "final_sale_product_handle",
          "label": "Product handle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Final sale"
    }
  ]
}
{% endschema %}