<div class="hm-banner hm-banner-{{ section.id }}">
    <div class="hm-banner__content">
        {%- if section.settings.logo_url != blank -%}
            <img class="hm-banner__logo lazyload" width="440" height="100" data-src="{{ section.settings.logo_url }}" alt="{{ section.settings.logo_alt }}">
        {%- endif -%}
        {%- if section.settings.video != blank -%}
            <video class="hm-banner__video" autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto" >
                <source src="{{ section.settings.video }}" type="video/mp4">
                <track src="captions_en.vtt" kind="captions" srclang="en" label="{{ 'home_banner.video_caption' | t }}">
            </video>
        {%- endif -%}
    </div>
    <div class="swiper hm-banner__slider hm-banner__slider-{{ section.id }}">
        <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'slide' -%}
                        {%- if block.settings.slide_img != blank -%}
                            <div class="swiper-slide hm-banner__slide">
                                <div class="hm-banner__slide__wrapper" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 32.81%, rgba(0, 0, 0, 0.6) 75.52%), url({{ block.settings.slide_img | img_url: 'master' }});">
                                    <div class="hm-banner__slide__content">
                                        {%- if block.settings.slide_header != blank -%}
                                            <p class="hm-banner__slide__header">{{ block.settings.slide_header}}</p>
                                        {%- endif -%}
                                        {%- if block.settings.slide_title != blank -%}
                                            <p class="hm-banner__slide__title">{{ block.settings.slide_title}}</p>
                                        {%- endif -%}
                                        {%- if block.settings.slide_text != blank -%}
                                            <div class="hm-banner__slide__text">{{ block.settings.slide_text}}</div>
                                        {%- endif -%}
                                        {%- if block.settings.slide_price != blank -%}
                                            <p class="hm-banner__slide__price">{{ block.settings.slide_price}}</p>
                                        {%- endif -%}
                                    </div>
                                    {%- if block.settings.slide_btn_name != blank and block.settings.slide_btn_link != blank -%}
                                        <div class="hm-banner__slide__btn">
                                            <a href="{{ block.settings.slide_btn_link  }}">{{ block.settings.slide_btn_name  }}</a>
                                        </div>
                                    {%- endif -%}
                                </div>
                            </div>
                        {%- endif -%}
                {%- endcase -%}
            {%- endfor -%}
        </div>
        <div class="swiper-pagination hm-banner__pagination"></div>
    </div>
</div>

<script>
let bannerSwiper = new Swiper('.hm-banner__slider-{{ section.id }}', {
    allowTouchMove: false,
    autoplay: {
        delay: 3000,
    },
    pagination: {
        el: ".hm-banner__pagination",
    },
    });
</script>


{% schema %}
{
  "name": "Home Banner",
  "settings": [
    {
        "type": "url",
        "id": "logo_url",
        "label": "Logo link"
    },
    {
        "type": "text",
        "id": "logo_alt",
        "label": "Logo Alt",
        "default": "Gruppo Vini GHIDOSSI"
    },
    {
        "type": "url",
        "id": "video",
        "label": "Video"
    }
  ],
    "blocks": [
    {
        "type": "slide",
        "name": "Slide",
        "settings": [
            {
                "type": "image_picker",
                "id": "slide_img",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "slide_header",
                "label": "Header"
            },
            {
                "type": "text",
                "id": "slide_title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "slide_text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "slide_price",
                "label": "Price"
            },
            {
                "type": "text",
                "id": "slide_btn_name",
                "label": "Button name",
                "default": "Unsere Weine"
            },
            {
                "type": "url",
                "id": "slide_btn_link",
                "label": "Button link"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Home Banner"
    }
  ]
}
{% endschema %}
