
  <div class="hm-visit hm-visit-{{ section.id }}">
    {%- if section.settings.title != blank -%}
        <h2 class="hm-visit__title">{{ section.settings.title }}</h2>
    {%- endif -%}
    <div class="hm-visit__wrapper">
        {%- if section.settings.img != blank -%}
            <img class="hm-visit__img lazyload" width="670" height="380" data-src="{{ section.settings.img | img_url: 'master' }}" alt="{{ section.settings.img.alt }}">
        {%- endif -%}
        <div class="hm-visit__content">
            {%- if section.settings.subtitle != blank -%}
                <p class="hm-visit__subtitle">{{ section.settings.subtitle }}</p>
            {%- endif -%}
            {%- if section.settings.text != blank -%}
                <div class="hm-visit__text">{{ section.settings.text }}</div>
            {%- endif -%}
            {%- if section.settings.btn_name != blank and section.settings.btn_link != blank -%}
                <div class="hm-visit__btn">
                    <a href="{{ section.settings.btn_link  }}">{{ section.settings.btn_name }}</a>
                </div>
            {%- endif -%}
        </div>
    </div>
    {%- if section.settings.event_title != blank -%}
        <div class="hm-visit__event">
            {%- if section.settings.event_header != blank -%}
                <p class="hm-visit__event__header">{{ section.settings.event_header }}</p>
            {%- endif -%}
            <div class="hm-visit__event__content">
                <div class="hm-visit__event__left">
                    {%- if section.settings.event_title != blank -%}
                        <p class="hm-visit__event__title">{{ section.settings.event_title }}</p>
                    {%- endif -%}
                    {%- if section.settings.event_subtitle != blank -%}
                        <p class="hm-visit__event__subtitle">{{ section.settings.event_subtitle }}</p>
                    {%- endif -%}
                </div>
                <div class="hm-visit__event__center">
                    {%- if section.settings.event_date != blank -%}
                        <time class="hm-visit__event__date">{{ section.settings.event_date }}</time>
                    {%- endif -%}
                    {%- if section.settings.event_time != blank -%}
                        <time class="hm-visit__event__time">{{ section.settings.event_time }}</time>
                    {%- endif -%}
                </div>
                <div class="hm-visit__event__right">
                    {%- if section.settings.event_link_url != blank and section.settings.event_link_name != blank -%}
                        <a class="hm-visit__event__link" target="_blank" href="{{ section.settings.event_link_url }}">{{ section.settings.event_link_name }}</a>
                    {%- endif -%}
                </div>
            </div>
        </div>
    {%- endif -%}
  </div>



{% schema %}
{
  "name": "Home Visit Block",
  "settings": [
    {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "text"
    },
    {
        "type": "text",
        "id": "btn_name",
        "label": "Button name",
        "default": "Besuchen"
    },
    {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
    },
    {
        "type": "header",
        "content": "Next event"
    },
    {
        "type": "text",
        "id": "event_header",
        "label": "Header",
        "default": "nächstes Event"
    },
    {
        "type": "text",
        "id": "event_title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "event_subtitle",
        "label": "Subtitle"
    },
    {
        "type": "text",
        "id": "event_date",
        "label": "Date"
    },
    {
        "type": "text",
        "id": "event_time",
        "label": "Time"
    },
    {
        "type": "text",
        "id": "event_link_name",
        "label": "Link name",
        "default": "Adresse"
    },
    {
        "type": "url",
        "id": "event_link_url",
        "label": "Link url"
    }
  ],
  "presets": [
    {
      "name": "Home Visit Block"
    }
  ]
}
{% endschema %}
