<div class="hm-cellars hm-cellars-{{ section.id }}">
    {%- if section.settings.title != blank and section.settings.heading_type == 'h1' -%}
        <h1 class="hm-cellars__title">{{ section.settings.title }}</h1>
    {%- elsif section.settings.heading_type == 'h2' -%}
        <h2 class="hm-cellars__title">{{ section.settings.title }}</h2>
    {%- endif -%}
    <div class="hm-cellars__content">
        <ul class="hm-cellars__list">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'logo' -%}
                        {%- if block.settings.logo_link != blank -%}
                            <li class="hm-banner__logo">
                                <img class="hm-banner__logo__img lazyload" width="120" height="120" data-src="{{ block.settings.logo_link }}" alt="Icon of {{ block.settings.logo_title }}">
                                {%- if block.settings.logo_title != blank -%}
                                    <h3 class="hm-banner__logo__title">{{ block.settings.logo_title}}</h3>
                                {%- endif -%}
                            </li>
                        {%- endif -%}
                {%- endcase -%}
            {%- endfor -%}
        </ul>
        {%- if section.settings.text != blank -%}
            <div class="hm-cellars__text">{{ section.settings.text }}</div>
         {%- endif -%}
        {%- if section.settings.btn_name != blank and section.settings.btn_link != blank -%}
            <div class="hm-cellars__btn">
                <a href="{{ section.settings.btn_link  }}">{{ section.settings.btn_name }}</a>
            </div>
        {%- endif -%}
    </div>
</div>




{% schema %}
{
  "name": "Home Cellars",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "select",
        "id": "heading_type",
        "label": "Heading type",
        "options": [
            {
                "label": "H1",
                "value": "h1"
            },
            {
                "label": "H2",
                "value": "h2"
            }
        ],
        "default": "h2"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "Text"
    },
    {
        "type": "text",
        "id": "btn_name",
        "label": "Button name",
        "default": "über Uns"
    },
    {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
    }
  ],
    "blocks": [
    {
        "type": "logo",
        "name": "Logo block",
        "settings": [
            {
                "type": "url",
                "id": "logo_link",
                "label": "Logo link svg"
            },
            {
                "type": "text",
                "id": "logo_title",
                "label": "Title"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Home Cellars"
    }
  ]
}
{% endschema %}
