<div class="hm-market hm-market-{{ section.id }}">
    <div class="hm-market__content">
        {%- if section.settings.title != blank -%}
            <h2 class="hm-market__title">{{ section.settings.title }}</h2>
        {%- endif -%}
        <div class="hm-market__wrapper">
            {%- if section.settings.subtitle != blank -%}
                <p class="hm-market__subtitle">{{ section.settings.subtitle }}</p>
            {%- endif -%}
            {%- if section.settings.text != blank -%}
                <div class="hm-market__text">{{ section.settings.text }}</div>
            {%- endif -%}
            {%- if section.settings.btn_name != blank and section.settings.btn_link != blank -%}
                <div class="hm-market__btn">
                    <a href="{{ section.settings.btn_link  }}">{{ section.settings.btn_name }}</a>
                </div>
            {%- endif -%}
        </div>
    </div>
    {%- if section.settings.title != blank -%}
        <h2 class="hm-market__title__mob">{{ section.settings.title }}</h2>
    {%- endif -%}
    {%- if section.settings.img != blank -%}
        <img class="hm-market__img lazyload" width="440" height="580" data-src="{{ section.settings.img | img_url: 'master' }}" alt="{{ section.settings.title }}">
    {%- endif -%}
</div>




{% schema %}
{
  "name": "Home Market",
  "settings": [
    {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "Text"
    },
    {
        "type": "text",
        "id": "btn_name",
        "label": "Button name",
        "default": "Al mercato del vino"
    },
    {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Home Market"
    }
  ]
}
{% endschema %}
