{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer register section-{{ section.id }}-padding">
  <svg style="display: none">
    <symbol id="icon-error" viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </symbol>
  </svg>
  <h1 class="register__title">
    Registrieren
  </h1>
  {%- form 'create_customer', novalidate: 'novalidate' -%}
    {%- if form.errors -%}
      <h2 class="form__message" tabindex="-1" autofocus>
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ 'templates.contact.form.error_heading' | t }}
      </h2>
      <ul> 
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#RegisterForm-{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <div class="field">      
      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        autocomplete="given-name"
        placeholder="{{ 'customer.register.first_name' | t }}"
      >
    </div>
    <div class="field">
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
        autocomplete="family-name"
        placeholder="{{ 'customer.register.last_name' | t }}"
      >
    </div>
    <div class="field">      
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="E-Mail"
      >
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error" class="form__message">
        Fehler: {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
      </span>
    {%- endif -%}
    <div class="field field__pass">     
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="{{ 'customer.register.password' | t }}"
      >
      <p class="register__prompt">Passwort muss mindestens 5 Zeichen, eine Ziffer und ein Sonderzeichen enthalten</p>
    </div>
    <div class="field field__pass">
      <input
        type="password"
        name="second password"
        id="RegisterForm-second-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
       placeholder="{{ 'customer.register.repeat_password' | t }}"
      >
    </div>
    <div class="custom-password-errors">

    </div>
    {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error" class="form__message">
        Fehler: {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
      </span>
    {%- endif -%}
    <div class="register__footer">
      <button>Registrieren</button>
      <a class="register__login" href="{{ routes.account_login_url }}">Ich habe bereits einen Account</a>
    </div>
  {%- endform -%}
</div>

<script>

  let form = document.getElementById("create_customer"),
      fields = document.querySelectorAll('.field__pass input');

  form.addEventListener('submit', function(e){
    e.preventDefault();
    e.stopPropagation();
    e.stopImmediatePropagation();

    let pw1 = document.getElementById("RegisterForm-password"), 
        pw2 = document.getElementById("RegisterForm-second-password"),
        errorsField = document.querySelector('.custom-password-errors');
    
    if(pw1.value != pw2.value)  {
      errorsField.innerText = "{{ 'customer.register.password_same_error' | t }}";
      pw1.classList.add('error-field');
      pw2.classList.add('error-field');
    } else if(!pw1.value.match(/^(?=.*?[0-9])(?=.*?[#?!@$%^&*-])/)) {
      errorsField.innerText = "{{ 'customer.register.password_incorrect_error' | t }}";
      pw1.classList.add('error-field');
      pw2.classList.add('error-field');
    } else {
      pw1.classList.remove('error-field')
      pw2.classList.remove('error-field');
      errorsField.innerText = '';
      form.submit();
    }
  })

  fields.forEach((field) => {
    field.addEventListener('focus', function(){
      field.classList.remove('error-field');
    })
  })

</script>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
  ]
}
{% endschema %}
