{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer account section-{{ section.id }}-padding">
  <div>
    <h1 class="customer__title">{{ 'customer.account.title' | t: name: customer.first_name }}</h1>
  </div>
  <div class="customer-grid">
    <div class="customer-grid-column">
      <div class="customer-grid__item customer-details large-up-hide">
        <div class="customer-details-head">
          <h2 class="my-account-heading">{{ 'customer.account.details' | t }}</h2>
          <a href="{{ routes.account_addresses_url }}">
            {% render 'icon-pen' %}
          </a>
        </div>

        <div class="customer-info">
          {%- if customer.first_name != blank -%}
          <div class="customer-info-row">
            <div class="option">{{ 'customer.addresses.first_name' | t }}</div>
            <div class="value">{{ customer.first_name }}</div>
          </div>
          {%- endif -%}
          {%- if customer.last_name != blank -%}
          <div class="customer-info-row">
            <div class="option">{{ 'customer.addresses.last_name' | t }}</div>
            <div class="value">{{ customer.last_name }}</div>
          </div>
          {%- endif -%}
          {%- if customer.email != blank-%}
          <div class="customer-info-row">
            <div class="option">Email</div>
            <div class="value">{{ customer.email }}</div>
          </div>
          {%- endif -%}
        </div>
        <a class="customer-logout" href="{{ routes.account_logout_url }}">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
          </svg>
          {{ 'customer.log_out' | t }}
        </a>
      </div>
      <div class="customer-grid__item section-wishlist js-wishlist">
        <div class="section-wishlist-heading">
          <h2 class="my-account-heading">{{ 'customer.wishlist.title' | t }}</h2>
          <button class="btn" id="add-all-button" disabled>{{ 'customer.wishlist.add_all_to_cart' | t  }}</button>
          <p class="wishlist-result hidden">{{ 'customer.wishlist.success_added' | t  }}</p>
        </div>
        <div class="wishlist-empty hidden">
          {{ 'customer.wishlist.empty' | t }}
        </div>
        <div class="wishlist__grid flex container" grid-wishlist>
          <p class="wishlist__loader full-width text-center">{{ 'customer.wishlist.loading' | t }}</p>
        </div>
        <button class="wishlist-load-more hidden btn">{{ 'customer.wishlist.load_more' | t }}</button>
      </div>
      <div class="customer-grid__item customer-orders">
        <h2 class="my-account-heading">{{ 'customer.orders.title' | t }}</h2>

        {% paginate customer.orders by 4 %}
          {%- if customer.orders.size > 0 -%}
            {%- for order in customer.orders -%}
            <div id="customer-orders" data-next-url="{{paginate.next.url}}">
              <div class="customer-orders__item">
                {%- assign test_item = 'customer.orders.oder_item' | t -%}
                {%- assign test_items = 'customer.orders.oder_items' | t -%}
                <div class="customer-order__count">{{order.item_count}} {{ order.item_count | pluralize: test_item, test_items }}</div>
                <div class="customer-order__date">{{ 'customer.orders.oder_label' | t }} {{ order.created_at  | date: format: 'basic' | replace: '/', '.' }}</div>
                <div class="customer-order__action">
                  <div class="customer-order__price">{{ order.total_price | money_with_currency }}</div>
                  <a class="customer-order__link" href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                    {{ 'customer.orders.order_details' | t }}
                  </a>
                </div>
              </div>
            </div>
            {%- endfor -%}
          {%- else -%}
            <p class="orders-empty">{{ 'customer.orders.none' | t }}</p>
          {%- endif -%}

          {%- if paginate.pages > 1 -%}
            <div class="load-more">
              <a class="load-more_btn text-center mt-12 button--primary" onclick="loadMoreOrders()">{{ 'customer.orders.load_more' | t }}</a>
              <div class="load-more_spinner hidden w-8 h-8 ml-auto mr-auto border-4 border-solid border-black border-t-gray-200 rounded-full animate-spin"></div>
            </div>
          {%- endif -%}
        {% endpaginate %}
      </div>
    </div>
    <div class="customer-grid-column"> 
      <div class="customer-grid__item customer-details medium-hide small-hide">
        <div class="customer-details-head">
          <h2 class="my-account-heading">{{ 'customer.account.details' | t }}</h2>
          <a href="{{ routes.account_addresses_url }}">
            {% render 'icon-pen' %}
          </a>
        </div>

        <div class="customer-info">
          {%- if customer.first_name -%}
          <div class="customer-info-row">
            <div class="option">Vorname</div>
            <div class="value">{{ customer.first_name }}</div>
          </div>
          {%- endif -%}
          {%- if customer.last_name -%}
          <div class="customer-info-row">
            <div class="option">Name</div>
            <div class="value">{{ customer.last_name }}</div>
          </div>
          {%- endif -%}
          {%- if customer.email -%}
          <div class="customer-info-row">
            <div class="option">Email</div>
            <div class="value">{{ customer.email }}</div>
          </div>
          {%- endif -%}
        </div>
        <a class="customer-logout" href="{{ routes.account_logout_url }}">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
          </svg>
          {{ 'customer.log_out' | t }}
        </a>
      </div>
      <div class="customer-grid__item refund-orders">
        <h2 class="my-account-heading">{{ 'customer.orders.order_refaund' | t }}</h2>
        {% assign step = 0 %}
        {% capture refunds-grid %}
          {%- for order in customer.orders -%}
            {%- for line_item in order.line_items -%}
              {%- unless line_item.fulfillment -%}
                {% for line in order.subtotal_line_items %}      
                  {% if line_item.id == line.id %}
                    {% if line.refunded_quantity > 0 %}
                      {% assign step = step | plus: 1 %}
                      <div class="order-item js-order-item{% if step > 4 %} hidden{% endif %}">
                        <a href="{{ line_item.product.url }}" class="refund-order-image">
                          <img src="{{ line_item.product.featured_image | image_url: width: 101 }}">
                        </a>
                        <div class="order-item-info">
                          <span class="order-item-vineyard">Rotwein</span>
                          <a href="{{ line_item.product.url }}" class="order-item-title">
                            {{ line_item.product.title | default:0 }}
                          </a>
                          <span class="order-item-price medium-hide large-up-hide">
                          {{ line_item.price | money_with_currency }}
                          </span>
                          <span class="order-created-date">{{ order.created_at  | date: format: 'basic' | replace: '/', '.' }}</span>
                        </div>
                        <div class="order-item-price small-hide">
                          {{ line_item.price | money_with_currency }}
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {%- endunless -%}
            {% endfor %}
          {%- endfor -%}
        {% endcapture %}
        {% if step > 0 %}
          {{ refunds-grid }}
        {%- else -%}
          <p class="refunds-empty">{{ 'customer.refunds.none' | t }}</p>
        {% endif %}
        <button class="refunded-load-more load-more btn{% if step < 5 %} hidden{% endif %}">{{ 'customer.orders.load_more' | t }}</button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
