<link
  rel="stylesheet"
  href="{{ 'quick-add.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {



    padding-top: {{ section.settings.mobile_padding_top }}px;



    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;



  }



  @media screen and (min-width: 992px) {



    .section-{{ section.id }}-padding {



      padding-top: {{ section.settings.padding_top }}px;



      padding-bottom: {{ section.settings.padding_bottom }}px;



    }



  }
{%- endstyle -%}


<div class="prod-sl prod-sl-{{ section.id }} section-{{ section.id }}-padding">
  <div class="prod-sl__wrapper">
    <div class="swiper prod-sl__slider prod-sl__slider-{{ section.id }}">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'product' -%}
            {%- assign product = all_products[block.settings.product] -%}
            <div class="swiper-slide prod-sl__slide">
              <div class="prod-sl__product">
                <div class="prod-sl__content">
                  {%- if block.settings.title != blank -%}
                    <p class="prod-sl__title">{{ block.settings.title }}</p>
                  {%- endif -%}
                  <h2 class="prod-sl__name">{{ product.title }}</h2>
                  <div class="prod-sl__icons">
                    {%- comment -%}<div class="prod-sl__wishlist">
                    {%- render 'button-wishlist', product: product -%}
                    </div>
                    <div class="quick-add no-js-hidden prod-sl__cart">
                    {%- assign product_form_id = 'quick-add-' | append: section_id | append: product.id -%}
                    {%- if product.variants.size == 1 -%}
                    <product-form>
                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input
                    type="hidden"
                    name="id"
                    value="{{ product.selected_or_first_available_variant.id }}"
                    disabled
                    >
                    <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--secondary"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
                    aria-label="Add to cart"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if product.selected_or_first_available_variant.available == false %}
                    disabled
                    {% endif %}
                    >
                    <span>
                    {%- if product.selected_or_first_available_variant.available -%}
                    {% render 'icon-cart-block' %}
                    {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                    </span>
                    <span class="sold-out-message hidden">
                    {{ 'products.product.sold_out' | t }}
                    </span>
                    <div class="loading-overlay__spinner hidden">
                    <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                    </div>
                    </button>
                    {%- endform -%}
                    </product-form>
                    {%- else -%}
                    <a href="{{ product.url }}" class="quick-add__submit" aria-label="Add to cart">
                    {% render 'icon-cart-block' %}
                    </a>
                    {%- endif -%}
                    </div>{%- endcomment -%}
                    <div class="prod-sl__price">{% render 'price', product: product, price_class: '' %}</div>
                  </div>
                  <a class="prod-sl__btn" href="{{ product.url }}">Weitere Details</a>
                </div>
                <div class="prod-sl__img">
                  <a href="{{ product.url }}">
                    <div class="prod-sl__img__bg bg-{{ product.metafields.custom.product_color.value }}"></div>
                    <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                  </a>
                </div>
              </div>
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="swiper-button-next prod-sl__next"></div>
      <div class="swiper-button-prev prod-sl__prev"></div>
      <div class="swiper-pagination prod-sl__pagination"></div>
    </div>
  </div>
</div>

<script>
  let productsSwiper = new Swiper('.prod-sl__slider-  {{ section.id }}', {
    loop: true,
    pagination: {
      el: ".prod-sl__pagination",
      clickable: true
    },
    navigation: {
      nextEl: ".prod-sl__next",
      prevEl: ".prod-sl__prev"
    }
  });
</script>



{% schema %}
  {
    "name": "Products Slider",
    "settings": [
      {
        "type": "header",
        "content": "Desktop paddings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 120,
        "step": 5,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 120,
        "step": 5,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 30
      },
      {
        "type": "header",
        "content": "Mobile paddings"
      }, {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 64
      }, {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 64
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Für warme Sommerabende"
          }, {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Products Slider"
      }
    ]
  }
{% endschema %}