  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="hm-prod hm-prod-{{ section.id }} pr-recommendations">
    <div class="hm-prod__wrapper">
        <div class="hm-prod__content">
            {%- if section.settings.title != blank -%}
                <h2 class="hm-prod__title">{{ section.settings.title }}</h2>
            {%- endif -%}
            {%- if section.settings.subtitle != blank -%}
                <p class="hm-prod__subtitle">{{ section.settings.subtitle }}</p>
            {%- endif -%}
        </div>
        <div class="swiper pr-recommendations__slider pr-recommendations__slider-{{ section.id }}">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when 'product' -%}
                            {%- assign product = all_products[block.settings.product] -%}
                                 <div class="swiper-slide pr-recommendations__slide">
                                    <div class="hm-prod__product">
                                        <a class="hm-prod__block__link" href="{{ product.url }}">
                                            <div class="hm-prod__img">
                                                <div class="hm-prod__img__bg bg-{{ product.metafields.custom.product_color.value }}"></div>
                                                <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                                                {% render 'product-badges', product: product %}
                                            </div>
                                            <div class="hm-prod__header">
                                                {%- if product.vendor != blank -%}
                                                    <span class="hm-prod__vendor">{{ product.vendor }}</span>
                                                {%- endif -%}
                                                {%- if product.metafields.custom.grapes_ != blank -%}
                                                    <span class="hm-prod__grapes"> {{ product.metafields.custom.grapes_ }}</span>
                                                {%- endif -%}
                                            </div>
                                            {%- if product.title != blank -%}
                                                <h3 class="hm-prod__name">{{ product.title }}</h3>
                                            {%- endif -%}
                                        </a>
                                        {%- comment -%} {%- if product.metafields.custom.country != blank -%}
                                            <p class="hm-prod__country">Vineyard Name, {{ product.metafields.custom.country }}</p>
                                        {%- endif -%} {%- endcomment -%}
                                        <div class="hm-prod__icons">
                                            {%- comment -%}
                                            <div class="hm-prod__wishlist">
                                                {%- render 'button-wishlist', product: product -%}
                                            </div>
                                                <div class="quick-add no-js-hidden hm-prod__cart">
                                                {%- assign product_form_id = 'quick-add-' | append: section_id | append: product.id -%}
                                                {%- if product.variants.size == 1 -%}
                                                    <product-form>
                                                        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                                        <input
                                                            type="hidden"
                                                            name="id"
                                                            value="{{ product.selected_or_first_available_variant.id }}"
                                                            disabled
                                                        >
                                                        <button
                                                            id="{{ product_form_id }}-submit"
                                                            type="submit"
                                                            name="add"
                                                            class="quick-add__submit button button--full-width button--secondary"
                                                            aria-haspopup="dialog"
                                                            aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
                                                            aria-label="Add to cart"
                                                            aria-live="polite"
                                                            data-sold-out-message="true"
                                                            {% if product.selected_or_first_available_variant.available == false %}
                                                            disabled
                                                            {% endif %}
                                                        >
                                                            <span>
                                                            {%- if product.selected_or_first_available_variant.available -%}
                                                                {% render 'icon-cart-block' %}
                                                            {%- else -%}
                                                                {{ 'products.product.sold_out' | t }}
                                                            {%- endif -%}
                                                            </span>
                                                            <span class="sold-out-message hidden">
                                                            {{ 'products.product.sold_out' | t }}
                                                            </span>
                                                            <div class="loading-overlay__spinner hidden">
                                                            <svg
                                                                aria-hidden="true"
                                                                focusable="false"
                                                                role="presentation"
                                                                class="spinner"
                                                                viewBox="0 0 66 66"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            >
                                                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                            </svg>
                                                            </div>
                                                        </button>
                                                        {%- endform -%}
                                                    </product-form>
                                                {%- else -%}
                                                    <a href="{{ product.url }}" class="quick-add__submit" aria-label="Add to cart">
                                                        {% render 'icon-cart-block' %}
                                                    </a>
                                                {%- endif -%}
                                            </div>
                                            {%- endcomment -%}
                                            <div class="hm-prod__price">{% render 'price', product: product, price_class: '' %}</div>
                                        </div>
                                        <a class="pr-recommendations__link" href="{{ product.url }}">Weitere Details</a>
                                    </div>
                                </div>
                    {%- endcase -%}
                {%- endfor -%}
            </div>
            <div class="swiper-pagination pr-recommendations__pagination"></div>
        </div>
    </div>
</div>

<script>
let prodRecSwiper = new Swiper('.pr-recommendations__slider-{{ section.id }}', {
    loop: true,
    slidesPerView: 1,
    navigation: false,
      breakpoints: {
        750: {
        slidesPerView: 2,
        spaceBetween: 20,
        },
        990: {
        slidesPerView: 3,
        spaceBetween: 10,
        },
        1200: {
        slidesPerView: 5,
        spaceBetween: 10,
        }
    },
    pagination: {
        el: ".pr-recommendations__pagination",
        clickable: true,
    },
    });
</script>



{% schema %}
{
  "name": "Product Recommendations",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
    }
  ],
    "blocks": [
    {
        "type": "product",
        "name": "Product",
        "limit": 5,
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Product Recommendations"
    }
  ]
}
{% endschema %}
