{% comment %}
  Shopify Wishlist
  Usage:
    - Replace the snippet name ('product-card') with your existing product card snippet
    - Pass the product object as a snippet variable named 'product'
{% endcomment %}
{%- render 'wishlist-card-product', card_product: product, show_vendor: true, show_quick_add: true -%}

{% schema %}
  {
    "templates": ["product"]
  }
{% endschema %}