{%- style -%}
  .section-{{ section.id }}-padding {
    background-color: #ffffff;
    padding-top: 4rem;
    padding-bottom: 2.8rem;
  }

  @media screen and (min-width: 992px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="shop-collection section-{{ section.id }}-padding">
  {%- if section.settings.collection != blank -%}
    <div class="page-width shop-collection-wrapper">
      <div class="collection-header">
        <div class="collection-info">
          {%- if section.settings.show_title != blank -%}
            <a class="collection-title" href="{{ section.settings.collection.url}}"><h2>{{ section.settings.collection.title }}</h2></a>
          {%- endif -%}
          {%- if section.settings.description != blank -%}
            <div class="collection-description">{{ section.settings.description }}</div>
          {%- endif -%}
        </div>
      </div>
      {%- if section.settings.product_list != blank -%}
      <div>
        {%- assign products = section.settings.product_list -%}
        <ul data-id="{{ section.id }}" class="shop-product-grid grid--{{ section.settings.columns_desktop }}-col-desktop">
          {%- for product in products -%}
            <li class="grid__item">
              {%- if section.settings.card_type == 'our' -%}
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: false,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating,
                  lazy_load: lazy_load,
                  show_quick_add: section.settings.enable_quick_add,
                  section_id: section.id
                %}
              {%- else -%}
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: false,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating,
                  lazy_load: lazy_load,
                  show_quick_add: section.settings.enable_quick_add,
                  section_id: section.id,
                  market: true
                %}
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
        <div class="load-more">
          <a href="{{ section.settings.collection.url }}" class="load-more_btn text-center mt-12 button--primary">{{ section.settings.button_name }}</a>
        </div>
      </div>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>


{% schema %}
{
  "name": "Shop Collection",
  "settings": [
    {
      "type": "select",
      "id": "card_type",
      "options": [
        {
          "value": "our",
          "label": "Our wines"
        },
        {
          "value": "market",
          "label": "Market wines"
        }
      ],
      "default": "our",
      "label": "Product card type"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show Collection title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Collection description"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 12
    },
    {
      "type": "text",
      "id": "button_name",
      "label": "Button name"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    }
  ],
  "presets": [
    {
      "name": "Shop Collection"
    }
  ]
}
{% endschema %}
