<div class="agenda agenda-{{ section.id }}">
    {%- if section.settings.title != blank -%}
        <h2 class="agenda__header">{{ section.settings.title }}</h2>
    {%- endif -%}  
    <ul class="agenda__list">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'agenda' -%}
                    {%- if block.settings.agenda_date != blank and block.settings.agenda_time != blank -%}
                    <li class="agenda__item">
                        <div class="agenda__left">
                            {%- if block.settings.agenda_date != blank -%}
                                <time class="agenda__date">{{ block.settings.agenda_date }}</time>
                            {%- endif -%}
                            {%- if block.settings.agenda_time!= blank -%}
                                <time class="agenda__time">{{ block.settings.agenda_time }}</time>
                            {%- endif -%}
                        </div>
                        <div class="agenda__center">
                            {%- if block.settings.agenda_title != blank -%}
                                <p class="agenda__title">{{ block.settings.agenda_title }}</p>
                            {%- endif -%}
                            {%- if block.settings.agenda_subtitle != blank -%}
                                <p class="agenda__subtitle">{{ block.settings.agenda_subtitle }}</p>
                            {%- endif -%}
                        </div>
                        <div class="agenda__right">
                            {%- if block.settings.agenda_text != blank -%}
                                <div class="agenda__text">{{ block.settings.agenda_text }}</div>
                            {%- endif -%}
                        </div>
                    </li>
                    {%- endif -%}
            {%- endcase -%}
        {%- endfor -%}
    </ul>
    {%- if section.settings.btn != blank -%}
        <div class="agenda__btn__wrapper"><button class="agenda__btn">{{ section.settings.btn }}</button></div>
    {%- endif -%}
</div>


{% schema %}
{
  "name": "Agenda Block",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "btn",
        "label": "Button",
        "default": "Mehr laden"
    }
  ],
    "blocks": [
    {
        "type": "agenda",
        "name": "Agenda",
        "settings": [
            {
                "type": "text",
                "id": "agenda_date",
                "label": "Date"
            },
            {
                "type": "text",
                "id": "agenda_time",
                "label": "Time"
            },
            {
                "type": "text",
                "id": "agenda_title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "agenda_subtitle",
                "label": "Subtitle"
            },
            {
                "type": "richtext",
                "id": "agenda_text",
                "label": "Text"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Agenda Block"
    }
  ]
}
{% endschema %}
