
  <div class="degustation degustation-{{ section.id }}">
    {%- if section.settings.title != blank and section.settings.heading_type == 'h1' -%}
        <h1 class="degustation__title">{{ section.settings.title }}</h1>
    {%- elsif section.settings.heading_type == 'h2' -%}
        <h2 class="degustation__title">{{ section.settings.title }}</h2>
    {%- endif -%}
    {%- if section.settings.subtitle != blank -%}
        <div class="degustation__subtitle">{{ section.settings.subtitle }}</div>
    {%- endif -%}
    <div class="degustation__content">
        {%- if section.settings.content_img != blank -%}
        <img class="degustation__content__img lazyload" width="700" height="440" data-src="{{ section.settings.content_img | img_url: 'master' }}" alt="{{ section.settings.content_img.alt }}">
        {%- endif -%}
        <div class="degustation__content__wrapper">
            {%- if section.settings.content_title != blank -%}
                <h3 class="degustation__content__title">{{ section.settings.content_title }}</h3>
            {%- endif -%}
            {%- if section.settings.content_subtitle != blank -%}
                <div class="degustation__content__subtitle">{{ section.settings.content_subtitle }}</div>
            {%- endif -%}
            {%- if section.settings.content_question != blank -%}
                <p class="degustation__content__question">{{ section.settings.content_question }}</p>
            {%- endif -%}
            <ul class="degustation__content__list">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when 'restaurant' -%}
                            {%- if block.settings.rest_name != blank and block.settings.rest_url != blank -%}
                            <li class="degustation__content__item">
                                <a class="degustation__content__link" target="_blank" href="{{ block.settings.rest_url }}">
                                    {% render 'icon-small-arrow' %}
                                    {{ block.settings.rest_name }}
                                </a>
                            </li>
                            {%- endif -%}
                    {%- endcase -%}
                {%- endfor -%}
            </ul>
        </div>
    </div>
  </div>


{% schema %}
{
  "name": "Degustation Block",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "select",
        "id": "heading_type",
        "label": "Heading type",
        "options": [
            {
                "label": "H1",
                "value": "h1"
            },
            {
                "label": "H2",
                "value": "h2"
            }
        ],
        "default": "h2"
    },
    {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle"
    },
    {
        "type": "header",
        "content": "Content"
    },
    {
        "type": "image_picker",
        "id": "content_img",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "content_title",
        "label": "Content title"
    },
    {
        "type": "richtext",
        "id": "content_subtitle",
        "label": "Content subtitle"
    },
    {
        "type": "text",
        "id": "content_question",
        "label": "Content Question"
    }
  ],
    "blocks": [
    {
        "type": "restaurant",
        "name": "Restaurant",
        "settings": [
            {
                "type": "text",
                "id": "rest_name",
                "label": "Restaurant name"
            },
            {
                "type": "url",
                "id": "rest_url",
                "label": "Restaurant link"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Degustation Block"
    }
  ]
}
{% endschema %}
