<div class="visit-shop visit-shop-{{ section.id }}">
    <div class="visit-shop__content">
        {%- if section.settings.title != blank -%}
            <h2 class="visit-shop__title">{{ section.settings.title }}</h2>
        {%- endif -%}
        <div class="visit-shop__content__wrapper">
            {%- if section.settings.title != blank -%}
                <p class="visit-shop__subtitle">{{ section.settings.subtitle }}</p>
            {%- endif -%}
            {%- if section.settings.text != blank -%}
                <div class="visit-shop__text">{{ section.settings.text }}</div>
            {%- endif -%}
            <div class="visit-shop__info">
                <div class="visit-shop__opening">
                    {%- if section.settings.opening_name != blank -%}
                        <p class="visit-shop__opening__name">{{ section.settings.opening_name }}</p>
                    {%- endif -%}
                    {%- if section.settings.opening_weekday != blank -%}
                        <div class="visit-shop__opening__weekday">{{ section.settings.opening_weekday }}</div>
                    {%- endif -%}
                    {%- if section.settings.opening_weekend != blank -%}
                        <div class="visit-shop__opening__weekend">{{ section.settings.opening_weekend }}</div>
                    {%- endif -%}
                </div>
                <div class="visit-shop__address">
                    {%- if section.settings.address_name != blank -%}
                        <p class="visit-shop__address__name">{{ section.settings.address_name }}</p>
                    {%- endif -%}
                    {%- if section.settings.address_text != blank -%}
                        <address class="visit-shop__address__text">{{ section.settings.address_text }}</address>
                    {%- endif -%}
                    {%- if section.settings.address_link != blank -%}
                        <a class="visit-shop__address__link" target="_blank" href="{{ section.settings.address_link }}">Google Maps</a>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
    {%- if section.settings.img != blank -%}
        <img class="visit-shop__img lazyload" width="440" height="580" data-src="{{ section.settings.img | img_url: 'master' }}" alt="{{ section.settings.img.alt }}">
    {%- endif -%} 
</div>


{% schema %}
{
  "name": "Visit Shop Block",
  "settings": [
    {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "Text"
    },
    {
        "type": "text",
        "id": "opening_name",
        "label": "Opening name",
        "default": "Öffnungszeiten"
    },
    {
        "type": "richtext",
        "id": "opening_weekday",
        "label": "Weekday opening"
    },
    {
        "type": "richtext",
        "id": "opening_weekend",
        "label": "Weekend opening"
    },
    {
        "type": "text",
        "id": "address_name",
        "label": "Address name",
        "default": "Adresse"
    },
    {
        "type": "richtext",
        "id": "address_text",
        "label": "Address"
    },
    {
        "type": "url",
        "id": "address_link",
        "label": "Address link"
    }
  ],
  "presets": [
    {
      "name": "Visit Shop Block"
    }
  ]
}
{% endschema %}
