{% comment %}
  Shopify Wishlist
  Usage:
    - Create a new page in the Shopify admin
      - Admin > Online store > Pages > Add page
    - Set the new page's template to: 'page.wishlist'
    - Do NOT remove the `grid-wishlist` attribute
  
  Notes:
  - The grid will be populated with product cards using Javascript
  - Any content inside of the `[grid-wishlist]` element will be completely replaced by the product cards
  
  Tip:
  - Place a loading element inside the `[grid-wishlist]` element and it will automatically be removed once the product cards have loaded
  - Add any liquid code before/after the grid element
{% endcomment %}
<div class="wishlist__grid flex container" grid-wishlist>
  <p class="wishlist__loader full-width text-center">{{ 'customer.wishlist.loading' | t }}</p>
</div>

{% schema %}
{
  "name": "Wishlist",
  "presets": [
    {
      "name": "Wishlist"
    }
  ]
}
{% endschema %}