//variables
$primary: #2E385A;
$secondary: #FFF7F0;

//Header
.header {
  display: flex;
  justify-content: flex-end;
  max-width: 144rem;
  @media screen and (min-width: 750px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media screen and (min-width: 990px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .header__heading {
    flex-grow: 1;
    text-align: left;
    .h2 {
      font-family: 'Founders Grotesk Medium';
      font-size: 18px;
      line-height: 22px;
      color: #2E385A;
      @media (min-width: 990px) {
        font-size: 21px;
        line-height: 22px;
      }
    }
  }
  .header__heading-logo {
    width: 18.5rem;
    @media screen and (min-width: 750px) {
      width: 100%;
      max-width: 21.6rem;
    }
  }
  .header__heading-link {
    padding: .75rem 0;
    opacity: 0;
    margin-left: 0;
    transition: all 300ms;
    &.m-logo-show {
      opacity: 1;
    }
  }
  .localization-form:only-child {
    margin: 0 -1rem 0 0;
  }
  .menu-drawer {
    .list-social {
      justify-content: end;
      margin-top: -1rem;
      .list-social__link {
        padding: 1.3rem 0 1.3rem 2rem;
      }
    }
    .localization-form:only-child {
      margin: 0 -1.5rem 0 0;
    }
  }
}
.header__inline-menu {
  font-family: 'Founders Grotesk Medium';
  @media (min-width: 1120px) {
    margin-right: 6.5rem;
  }
  a {
    font-size: 18px;
    line-height: 23px;
    color: $primary;
    padding: .4rem .8rem .8rem;
    margin: 0 .5rem;
    @media (min-width: 1050px) {
      padding: .4rem 1.6rem .8rem;
    }
    &:hover {
      span {
        position: relative;
        text-decoration: none;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: .2rem;
          background: $primary;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  li:last-child {
    a {
      border: .1rem solid $primary;
      border-radius: .5rem;
      &:hover {
        background: $primary;
        color: $secondary;
        span {
          &:before {
            content: none;
          }
        }
        .header__active-menu-item {
          color: $secondary;
          &:before {
            content: "";
            background: $secondary;
          }
        }
      }
    }
  }
  .header__active-menu-item {
    position: relative;
    text-decoration: none;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: .2rem;
      background: $primary;
      bottom: 0;
      left: 0;
    }
  }
}
.header__search {
  position: relative;
  order: 1;
  @media (min-width: 990px) {
    padding-right: 1.5rem;
    order: 0;
  }
}
.header__icon--cart {
  @media (max-width: 989px) {
    order: 0;
  }
}
.header__icon--account {
  font-family: 'Founders Grotesk Light';
  text-decoration: none;
  min-width: 7rem;
  width: auto;
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: 989px) {
    display: none !important;
  }
}

.header__languages {
  display: flex;
  li {
    a {
      font-family: 'Founders Grotesk Light';
      padding: 0 .5rem;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      width: 3rem;
      &:hover {
        font-family: 'Founders Grotesk Medium';
        color: $primary;
      }
    }
    &:not(:last-child) {
      a {
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 20%;
          width: .1rem;
          height: 60%;
          background: $primary;
        }
      }
    }
    .disclosure__link--active {
      font-family: 'Founders Grotesk Medium';
    }
  }
}

.header__icons {
  align-items: center;
}
#menu-drawer {
  width: 100%;
  .menu-drawer__utility-links {
    background: $secondary;
    text-align: right;
  }
  .menu-drawer__menu-item--active {
    background: $secondary;
  }
  .menu-drawer__menu {
    a {
      font-family: 'Founders Grotesk Medium';
      justify-content: flex-end;
      font-size: 5rem;
    }
  }
  .menu-drawer__account {
    font-family: 'Founders Grotesk Medium';
    font-size: 1.8rem;
    line-height: 2.3rem;
    border: .1rem solid $primary;
    border-radius: .5rem;
    padding: .7rem 1.1rem;
  }
  .header__localization-mobile {
    a {
      font-size: 1.8rem;
      width: 3.5rem;
      text-align: left;
    }
  }
}
.header__localization {
  @media (max-width: 989px) {
    display: none;
  }
}

.search-modal {
  position: absolute;
  top: 0;
  right: -4rem;
  min-width: 36rem;
  width: calc(100vw - 1rem);
  left: auto;
  border: none;
  @media (min-width: 750px) {
    width: calc(100vw - 2rem);
    right: -7rem;
    min-width: 62rem;
  }
  @media (min-width: 990px) {
    top: 0;
    right: 0;
    min-width: 62rem;
    width: 100%;
  }
  .search-modal__content {
    justify-content: flex-end;
    padding: 0 1rem;
  }
}
.search-modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.search__input {
  border-radius: .5rem;
  border: .1rem solid $primary;
  &:focus {
    padding: 1.5rem;
    box-shadow: none;
    border-width: .2rem;
    border-radius: .5rem;
  }
}
.search-modal__form {
  @media (min-width: 990px) {
    max-width: 62rem;
  }
  .field {
    &:after {
      content: none;
    }
  }
}

.header {
  .predictive-search {
    padding-top: .6rem;
    left: 10px;
    width: calc(100% - 20px);
    @media (min-width: 750px) {
      left: 0;
      width: 100%;
    }
    background: transparent;
    @media (min-width: 990px) {
      width: 67rem;
      left: -10.5rem;
      padding-top: .8rem;
    }
    #predictive-search-results {
      position: relative;
      border-radius: .5rem;
      border: .1rem solid $primary;
      background: white;
      &::before {
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        background: #fff;
        border-top: .1rem solid #2E385A;
        border-left: .1rem solid #2E385A;
        transform: rotate(45deg);
        top: -0.5rem;
        left: 1.5rem;
        @media (min-width: 990px) {
          width: 1.6rem;
          height: 1.6rem;
          top: -0.8rem;
          left: 12.8rem;
        }
      }
      .no-results {
        font-family: "Founders Grotesk Regular";
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 2rem;
      }
    }
    .predictive-search__image {
      max-height: 9.1rem;
      max-width: 6.3rem;
      object-fit: contain;
      @media (min-width: 750px) {
        max-height: 11.2rem;
        max-width: 7rem;
      }
    }
    .predictive-search__item {
      padding: 1.2rem 1.6rem;
      @media (min-width: 750px) {
        padding: .4rem 13rem .4rem 2rem;
      }
      &:last-child {
        padding: 1.2rem 1.6rem 2.4rem;
        @media (min-width: 750px) {
          padding: .4rem 13rem 2.4rem 2rem;
        }
      }
    }
    .predictive-search__item-heading  {
      padding-right: 1rem;
      width: 60%;
    }
    .predictive-search__item-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .predictive-search__item-heading,
      .price-item {
        font-family: "Founders Grotesk Regular";
        font-size: 1.8rem;
        color: $primary;
      }
    }
    .predictive-search__heading {
      border: none;
      font-family: 'Founders Grotesk Medium';
      font-size: 2.8rem;
      color: $primary;
      padding: 2.7rem 0 2rem;
    }
    #predictive-search-option-search-keywords {
      display: none;
    }
  }
}

#shopify-section-header {
  position: sticky;
  top: 0;
}
.shopify-section-header-sticky {
  .header-wrapper {
    border-bottom: .1rem solid #D5D0D2;
  }
}

.customer {
  .field,
  .select {
    border: none;

    input,
    select {
      font-size: 1.4rem;
      line-height: 2.4;
      border: none;
      flex: 1;
      padding: 0.5px;
      background: #F5EEE9;
      border-radius: 5px;

      &:focus {
        box-shadow: none;

        &~label {
          margin-top: 0;
        }
      }

      &:not(:placeholder-shown)~label {
        margin-top: 0;
      }
    }

    select {
      padding-left: 2.1rem;
    }

    &:after,
    &:before {
      display: none;
    }

    label {
      font-family: "Founders Grotesk Light";
      color: rgba(0, 0, 0, 0.4);
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      margin-top: .8rem;
    }
  }
}