
body {
  font-family: "Founders Grotesk Regular";
}

.button,
.btn,
button.btn {
  min-height: auto;
  max-width: fit-content;
  position: relative;
  font-family: 'Founders Grotesk Medium';
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: .02em;
  text-decoration: none;
  color: #2e385a;
  border: 0.1rem solid #2E385A;
  border-radius: 0.5rem;
  transition: all .3s;
  background-color: transparent;
  padding: 0.8rem 1.4rem;
  cursor: pointer;

  &:after,
  &:before {
    display: none;
  }

  &:hover {
    background: #2e385a;
    color: #ffffff;
  }

  &.btn-bg {
    background: #2e385a;
    color: #ffffff;
  
    &:hover {
      background: transparent;
      color: #2e385a;
    }
  }
}

/** Footer */
.footer {
  @media screen and (max-width: 749px) {
    padding: 1.6rem  0 1.2rem !important;
  }

  .footer-block {
    position: relative;
    padding-right: 3.2rem;
    margin-bottom: 4rem;

    @media screen and (min-width: 750px) {
      margin-bottom: 0;
    }

    @media screen and (min-width: 1400px) {
      &:nth-child(2) {
        margin-left: -5.2rem;
      }
    }

    &:first-child {
      margin: 0 auto 0 0;
      padding-right: 3.2rem;
    }
    &:last-child {
      margin-right: auto;
    }
  }

  .footer-block-image {
    height: 100%;
    display: flex;
    margin-bottom: 1.9rem;

    @media screen and (min-width: 750px) {
      margin-bottom: 0;
    }
  }

  .footer__content-top  {
    @media screen and (min-width: 750px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 4rem;
      row-gap: 2rem;
    }

    .grid__item {
      flex-shrink: 0;
    }

    .footer__blocks-wrapper {
      justify-content: flex-start;
      flex-wrap: wrap;
      min-width: fit-content;
      flex: 1;
    }
  }

  .footer-block__heading {
    font-family: "Founders Grotesk Semibold";
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.035em;
    margin: 0 0 .8rem;
  }

  .footer-block__details-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.2rem;
    padding-bottom: 2.2rem;

    @media screen and (min-width: 750px) {
      padding-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      row-gap: 1.6rem;
      max-width: 27rem;
    }

    @media screen and (min-width: 1040px) {
      max-width: none;
    }

    p {
      margin: 0;
    }

    .footer-link {
      position: absolute;
      bottom: -.9rem;
      left: 0;

      @media screen and (min-width: 750px) {
        top: 100%;
        bottom: auto;
      }
      @media screen and (min-width: 1025rem) {
        top: calc(100% + .9rem);
      }
    }
  }

  .footer-block__details-content {
    font-family: "Founders Grotesk Regular";
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.03em;
    flex-shrink: 0;
    margin-bottom: 1.6rem;
    width: 100%;

    @media screen and (min-width: 750px) {
      margin-bottom: 0;
      width: auto;
    }

    @media screen and (min-width: 1025px) {
      width: auto;
    }

    a {
      color: #2E385A;
      text-decoration: none;
    }

    address {
      font-style: inherit;
    }
  }

  .footer-block__details-column {
    flex-shrink: 0;

    p,
    time,
    a {
      font-family: 'Founders Grotesk Regular';
      font-size: 1.8rem;
      line-height: 2.4rem;
      margin-bottom: .8rem;
    }

    time {
      display: block;
    }

    .footer-block__details-column-title {
      font-family: 'Founders Grotesk Light';
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-bottom: .4rem;
    }
  }

  .footer-link {
    position: relative;
    font-family: "Founders Grotesk Medium";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #2E385A;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 0 2.4rem 0 0;
    margin-bottom: .8rem;


    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: .2rem;
      background: #2E385A;
      bottom: -.3rem;
      transform: translateY(-50%);
      left: 0;
      transition: width .3s ease;
      border-radius: .2rem;
    }

    &:after {
      content: "";
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-top: 0.2rem solid #2E385A;
      border-right: 0.2rem solid #2E385A;
      transform: rotate(45deg);
      bottom: -.6rem;
      right: 0;
      transition: right .3s;
      border-radius: .2rem;
    }

    &:hover {
      &:before {
        width: calc(100% + .8rem);
      }
      &:after {
        right: -8px;
      }
    }
  }
}

.footer__policies-menu {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin-right: 2.4rem;

    &:last-child {
      margin-right: 0;
    }

    .list-menu__item {
      font-family: 'Founders Grotesk Light';
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 1.7rem;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer__content-bottom-wrapper {
  flex-flow: column-reverse;

  @media screen and (min-width: 750px) {
    flex-flow: row;
  }
}

.footer__column--info {
  align-items: flex-start;

  @media screen and (min-width: 750px) {
    align-items: flex-end;
  }
}

.footer__payment {
  text-align: left;

  @media screen and (min-width: 750px) {
    text-align: right;
  }

  span {
    display: block;
    font-family: "Founders Grotesk Semibold";
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0.035em;
    margin: 0 0 1.1rem;
  }
}
/* Socials */

.footer-social-container {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  justify-content: flex-end;

  @media screen and (min-width: 750px) {
    flex-flow: row;
  }

  .list-social__item {
    margin-right: 3.2rem;

    @media screen and (min-width: 750px) {
      margin-right: 1.8rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .footer__list-social-link {
    font-family: 'Founders Grotesk Medium';
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #2E385A;
    text-decoration: none;
    border: .1rem solid #2E385A;
    border-radius: .5rem;
    padding: .75rem .8rem;
    margin-right: 3.2rem;
    transition: all .3s ease;

    @media screen and (min-width: 750px) {
      margin: 0 0 0 1.8rem;
    }

    &:hover {
      color: #fff;
      background-color: #2E385A;
    }
  }
}

.footer-block__newsletter {
  margin-bottom: 1rem;
}

.footer__column {
  padding-top: 3.2rem;

  @media screen and (min-width: 750px) {
    padding-top: 0;
  }
}

/* Shop Collections */
.collection-title,
.collection-title h2 {
  font-family: 'Arsenica Medium';
  font-weight: 500;
  font-size: 5rem;
  line-height: 113%;
  margin: 0 0 3.2rem;
  text-decoration: none;
  @media screen and (min-width: 990px) {
    font-size: 7rem;
  }
}

.collection-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 750px) {
    align-items: flex-start;
  }
  @media screen and (min-width: 990px) {
    align-items: center;
    flex-direction: row;
    column-gap: 4rem;
  }
}

.collection-description {
  max-width: 55.5rem;
  font-family: 'Founders Grotesk Regular';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 0 0 2.4rem 0;
  @media screen and (min-width: 990px) {
    margin: 0 0 2.2rem 11.4rem;
    line-height: 2.4rem;
  }
}

.collection-wrapper {
  background-color: #ffffff;
 
  @media screen and (max-width: 749px) {
    margin: 0 1.5rem 6.4rem;
  }

  .page-width { 
    max-width: 144rem;
    @media screen and (max-width: 767px) {
      padding: 0 3.1rem;
    }
  }
  
  .collection-filter {
    flex-shrink: 0;
    width: 110%;
    @media screen and (min-width: 380px) {
      width: 33.4rem;
    }
  }
  .facets-wrapper {
    @media screen and (min-width: 380px) {
      width: 33.4rem;
    }
    @media screen and (min-width: 500px) {
      width: 41.5rem;
    }
  }
  .facets-container {
    display: block;
   
    .active-facets {
      display: none;
    }
    #FacetFiltersForm {
      width: 100%;
    }
    #FacetsWrapperDesktop {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      width: auto;
      @media screen and (min-width: 380px) {
        flex-direction: row;
        justify-content: space-between;
      }

      .facets__heading {
        display: none;
      }
    }
    .filter-item {
      width: 21rem;
      position: relative;
      transition: background-color .3s ease;
      border: .1rem solid #2E385A;
      border-radius: .5rem;
      padding: .4rem .826rem .4rem 1.6rem;
      margin: 0 0 .4rem;
      background-color: #ffffff;
      @media screen and (min-width: 380px) {
        width: calc(50% - 2px);
      }
      summary {
        font-family: 'Founders Grotesk Medium';
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.3rem;
        color: #2E385A;
        margin: 0;

        svg {
          path {
            fill: #2E385A;
          }
        }
      }

      .facets__reset {
        position: relative;
        top: 2px;
        color: transparent;
        font-size: 0;
        width: 11px;
        height: 11px;
        margin-left: 5px;

        &::after,
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 7px;
          width: 1px;
          height: 100%;
          background-color: #2e385a;
        }
        &::after {
          transform: rotate(45deg);
        }
        &::before {
          transform: rotate(-45deg);
        }
      }

      &:hover,
      &.m-active {
        background-color: #2E385A;
        
        summary {
          color: #fff;

          svg {
            path {
              fill: #fff;
            }
          }
        }

        span {
          text-decoration: none;
        }

        .facets__reset {
          &:after,
          &:before {
            background-color: #fff;
          }
        }
      }
      

      &[open] {
        border-radius: .5rem .5rem 0 0;
        background-color: #2E385A;

        summary {
          color: #fff;

          svg {
            transform: rotate(180deg);
            path {
              fill: #fff;
            }
          }
        }

        .facets__reset {
          &:after,
          &:before {
            background-color: #fff;
          }
        }

        .parent-display {
          opacity: 1;
          animation: animateMenuOpen var(--duration-default) ease;

          @keyframes animateMenuOpen {
            0% {
              opacity: 0;
              transform: translateY(-1.5rem);
            }
          
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
      .parent-display,
      .facets__display,
      .facets__display-vertical {
        position: absolute;
        background-color: #2E385A;
        color: #fff;
        width: calc(100% + 2px);
        top: 100%;
        left: -1px;
        border: .1rem solid #2E385A;
        border-radius: 0 0 .5rem .5rem;
        border-color: #2E385A;
        padding: 0 1.6rem 1.9rem;
        transition: all .3s ease;
        z-index: 2;
        
        fieldset {
          margin: 0;
          padding: 0;
          border: none;
        }

        .icon-checkmark {
          path {
            stroke: #2E385A;
          }
        }
        .facet-checkbox {
          padding-right: 0;
        }

          
        span {
          margin-top: -.2rem;
          font-size: 1.4rem;
          line-height: 1;
          color: #fff;
        }
      }

      .facets__header,
      .facets__header-vertical {
        padding: 0 0 1rem;
      }

      .facets__price {
        padding: 0;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;

        .field-currency {
          flex: 1 1 100%;
        }

        .field {
          width: auto;

          &:after {
            display: none;
          }
        }

        .field__input {
          background: transparent;
          color: #fff;
          font-size: 1.4rem;
          line-height: 2.4;
          border: none;
          border-bottom: 1px solid #fff;
          height: 3.5rem;
          width: 5.1rem;
          min-width: auto;
          max-width: 5.1rem;
          flex: 1;
          padding: 0.5px;

          &::placeholder {
            display: block;
            font-size: 1.4rem;
            line-height: 2.4;
            color: #fff;
            opacity: 1;
          }

          &:focus {

            &::placeholder {
              opacity: 0;
            }
          }

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none; 
          }
        }

        label {
          display: none;
          color: #fff;
          left: 0;
        }

        .field__input:not(:placeholder-shown)~.field__label {
          top: -6px;
        }

        .field-separator {
          font-size: 1.4rem;
          line-height: 1;
          color: #fff;
        }
      }
    }

    .mobile-facets__wrapper {
      justify-content: flex-end;
      display: none;
    }

    &.facets-container-drawer {
      .mobile-facets__wrapper {
        display: flex;
      }
    }

    .facets__form {
      display: block;
    }
  }
  .facets {
    padding: 0;
  }

  .facet-filters {
    padding: 0;
  }
}

.facets__disclosure {
  margin: 0;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 3.4rem auto 0;

  .load-more_btn {
    font-family: 'Founders Grotesk Medium';
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: .02em;
    text-decoration: none;
    color: #2e385a;
    border: 0.1rem solid #2E385A;
    border-radius: 0.5rem;
    padding: 0.8rem 1.4rem;
    position: relative;
    transition: all .3s;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background: #2e385a;
      color: #fff7f0;
    }
  }
}

/* Poduct card*/
#our-product-grid,
#product-grid,
.shop-product-grid {
  margin-top: 8rem;

  @media screen and (min-width: 750px) {  
    column-gap: 2.1rem;
    row-gap: 2rem;
    margin-top: 0;
  }

  .grid__item {
    width: 100%;
    max-width: none;
    flex-grow: inherit;
  }

  &.grid--2-col-desktop .grid__item {

    @media screen and (min-width: 750px) {
      width: calc(50% - 2.1rem * 1 / 2);
    }

    @media screen and (min-width: 0px) {
      margin-bottom: 0;
      width: calc(50% - 2.1rem * 1 / 2);
    }
  }

  &.grid--3-col-desktop .grid__item {

    @media screen and (min-width: 750px) {
      width: calc(33.33% - 2.1rem * 2 / 3);
    }

    @media screen and (min-width: 990px) {
      margin-bottom: 0;
      width: calc(33.33% - 2.1rem * 2 / 3);
    }
  }

  &.grid--4-col-desktop .grid__item {
    margin-bottom: 2rem;

    @media screen and (min-width: 750px) {
      margin-bottom: 0;
      width: calc(50% - 2.1rem * 3 / 4);
    }

    @media screen and (min-width: 990px) {
      margin-bottom: 0;
      width: calc(25% - 2.1rem * 3 / 4);
    }
  }

  &.grid--5-col-desktop .grid__item {

    @media screen and (min-width: 750px) {
      width: calc(20% - 2.1rem * 4 / 5);
    }

    @media screen and (min-width: 990px) {
      margin-bottom: 0;
      width: calc(20% - 2.1rem * 4 / 5);
    }
  }

  &.grid--6-col-desktop .grid__item {

    @media screen and (min-width: 750px) {
      width: calc(33.33% - 2.1rem * 2 / 3);
    }

    @media screen and (min-width: 990px) {
      margin-bottom: 0;
      width: calc(20% - 2.1rem * 4 / 5);
    }
    @media screen and (min-width: 1200px) {
      width: calc(16.66% - 2.1rem * 5 / 6);
    }
  }

  
}
#product-grid,
.shop-product-grid {
  margin-top: 4.2rem;

  @media screen and (min-width: 750px) {
    margin-top: 0;
  }
}



.card__badge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  position: absolute;
  width: fit-content;
  z-index: 1;

  &.top {
    top: 33%;
    @media screen and (min-width: 750px) {
      top: 10%;
    }
  }

  &.bottom {
    bottom: 0;
    @media screen and (min-width: 750px) {
      bottom: -1rem;
    }
  }

  &.top.left {
    left: -1.6rem;

    @media screen and (min-width: 750px) {
      left: 0;
    }
  }

  &.top.right {
    right: 0;
  }

  &.bottom.left {
    left: 0;
  }

  &.bottom.right {
    right: 0;
  }

  .badge {
    color: #ffffff;
    background: #2E385A;
    padding: .2rem .4rem .4rem;
    border-radius: 5px;
    font-size: 1.4rem;
    line-height: 1.7rem;
    max-width: 8.9rem;

    .color-green {
      color: #4D835C;
    }
  }
}

.swiper {
  .card__badge {
    &.top.left {
      left: 0;
    }
  }
}

.product-card {

  &:hover {

    .card__heading a {
      text-decoration: underline;
    }
  }
}
.product-card-wrapper {

  .card__inner {
    display: block;
    margin: 7rem 0 .8rem;
    @media screen and (min-width: 750px) {
      margin: 3rem 0 .4rem;
    }
  }

  .card__media.animate {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 35rem;

    @media screen and (min-width: 750px) {
      height: 40.9rem;
    }

    &:after {
      display: none;
    }

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
      left: 50%;
      bottom:  -2rem;
      transform: translateX(-50%);
      position: absolute;
      transition: all 300ms;

      @media screen and (min-width: 750px) {
        bottom: -7.1rem;
      }
    }

    .card__media__bg {
      display: block;
      width: 100%;
      height: 29.8rem;

      @media screen and (min-width: 750px) {
        height: 67%;
      }
    }
  }
  &:hover {

    .card__media.animate {

      img {
        bottom: 0;
      }
    }
  }
  .card__content {
    display: block;
    flex: auto;

    .card__information {
      padding: 0.8rem 0 3.8rem;
      grid-row-start: auto;

      @media screen and (min-width: 750px) {
        padding: 1.6rem 0;
      }
    }

    .card__vendor,
    .card__grapes,
    .card__header {
      font-family: "Founders Grotesk Regular";
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin: 0;

      @media screen and (min-width: 750px) {
        font-family: "Founders Grotesk Light";
        font-size: 1.4rem;
        line-height: 1.7rem;
      }
    }
    .card__heading {
      font-family: "Founders Grotesk Regular";
      font-size: 2.2rem;
      line-height: 2.8rem;
      margin: .5rem 0 0;
      height: auto !important;

      @media screen and (min-width: 750px) {
          font-size: 2.8rem;
          line-height: 3.6rem;
          letter-spacing: 0.02em;
          height: 7.2rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
      }

      a:after {
        display: none;
      }
    }

    .price {

      @media screen and (min-width: 750px) {
        margin-right: 2rem;
      }

      .price-item {
        display: block;
        font-family: "Founders Grotesk Regular";
        font-size: 2.2rem;
        line-height: 3rem;
        color: #2E385A;

        @media screen and (min-width: 750px) {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }
      
      &.price--on-sale {
        .price__sale {
          display: flex;
          flex-direction: column-reverse;
  
          .price-item--sale {
            letter-spacing: .05em;
            color: #f66;
            margin: 0;
          }
  
          .price-item--regular {
            display: inline-block;
            font-family: "Founders Grotesk Regular";
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 0.02em;
            margin: 0 0 .4rem;
            position: relative;
  
            &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 0.2rem;
              background: #FF6666;
              top: 50%;
            }
          }
        }
      }
    }
  }

  .card-price-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    row-gap: 2rem;

    @media screen and (min-width: 750px) {
      justify-content: flex-start;
      flex-direction: row;
    }

    .card-actions {
      display: flex;
      line-height: initial;
      margin-top: .5rem;

      @media screen and (min-width: 750px) {
        margin-top: .3rem;
      }

      .card-prod__wishlist {
        display: flex;
        line-height: 1;
        margin-right: 1.6rem;

        @media screen and (min-width: 750px) {
          margin-right: 2rem;
        }
      }
    }

    .quick-add__submit {
      background: transparent;
      padding: 0;
      min-height: auto;
      border: none;

      &:after {
        box-shadow: none;
      }
    }
  }

  .our_wine {

    .card__badge {
      top: 11%;

      @media screen and (min-width: 750px) {
        top: 18%;
      }
    }
  }

  /* Market card*/
  .market_card {

    .card__inner {
      margin-top: 4.8rem;
    }

    .card__media.animate {
      height: 30.2rem;
      margin: 4.1rem 0 .8rem;
      overflow: visible !important;

      @media screen and (min-width: 750px) {
        height: 30.2rem;
        margin: 0 0 .4rem;
      }

      img {
        bottom: 1rem;
        max-width: 157px;
        max-height: 29.4rem;

        @media screen and (min-width: 750px) {
          bottom: 0.8rem;
        }
      }

      .card__media__bg {
        height: 18.8rem;

        @media screen and (min-width: 750px) {
          height: 29.8rem;
          height: 47%;
        }
      }
    }
    &:hover {

      .card__media.animate {

        img {
          bottom: 4.7rem;
        }
      }
    }
    .card__content {
      
      .card__information {
        padding: 0.8rem 0 3.8rem;

        @media screen and (min-width: 750px) {
          padding: .4rem 0;
        }
      }
      .card__vendor,
      .card__grapes,
      .card__header {

        @media screen and (min-width: 750px) {
          span {
            display: block;
          }

          .line {
            display: none;
          }
        }
      }

      .card__heading {
        font-family: "Founders Grotesk Regular";
        font-size: 2.2rem;
        line-height: 2.8rem;
        letter-spacing: 0.02em;
        margin: .5rem 0 0;
        height: 5.6rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        a:after {
          display: none;
        }
      }

      .price {
        margin-right: 0;
      }
    }
    .card-price-row {
      flex-direction: row-reverse;

      @media screen and (min-width: 750px) {
        justify-content: flex-end;
        margin-top: 2.2rem;
      }

      .card-actions {
        display: flex;
        line-height: initial;
        margin-top: .5rem;

        @media screen and (min-width: 750px) {
          margin-top: .3rem;
          margin-right: 2.4rem;
        }

        .card-prod__wishlist {
          margin-right: 1.6rem;
        }
      }
    }
  }
}

/* Shop collection */

.shop-collection {
  background-color: #ffffff;
 
  @media screen and (max-width: 749px) {
    margin: 0 1.5rem 0;
  }

  .page-width { 
    max-width: 144rem;
    @media screen and (max-width: 767px) {
      padding: 0 3.1rem;
    }
  }

  #product-grid,
  .shop-product-grid  {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .grid__item {
      margin-bottom: 2rem;
      list-style-type: none;
    }

    .card__media {
      overflow: hidden;
      @media screen and (max-width: 767px) {
        margin: 0;
      }
    }

    .quick-add__submit {
      min-width: 100%;
    }
  }
}
.quick-add__submit {
  border: none;
}
/* Page newslatter */

.page-newslatter-wrapper {
  max-width: 113rem;
  background-color: #fff;
  padding: 3.2rem 3.1rem 4.8rem;
  margin: 0 auto;

  @media screen and (min-width: 990px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    padding: 8rem 9.3rem 8rem 11.5rem;
  }

  .page-newslatter-header {
    max-width: 55.5rem;
    margin-bottom: 4.8rem;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 0;
    }
  }
  .page-newslatter-title {
    font-family: "Founders Grotesk Medium";
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.03em;
    margin: 0;

    @media screen and (min-width: 768px) {
      font-size: 4.4rem;
      line-height: 5.2rem;
      max-width: 55.5rem;
    }
  }

  .page-newslatter-description {
    font-family: "Founders Grotesk Regular";
    font-weight: 400;
    font-size: 18px;
    line-height: 2.2rem;
    letter-spacing: 0.03em;
    max-width: 44rem;
    margin: 1.6rem 0 0;

    @media screen and (min-width: 768px) {
      margin: 2.6rem 0 0;
      line-height: 2.4rem;
    }

    p {
      margin: 0;
    }
  }
  .newslatter-form {
    width: 32.5rem;
    max-width: 100%;
    margin: 3.7rem 0 0;

    @media screen and (min-width: 990px) {
      margin: 0;
    }

    .newsletter-form__button {
      position: static;
      margin: 0;
    }

    .field {
      margin: 1.1rem 0 0 !important;
      display: flex;
      flex-direction: column;

      &::after,
      &::before {
        display: none;
      }

      input {
        background: #F5EEE9;
        border-radius: .5rem;
        font-family: "Founders Grotesk Light";
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #2E385A;
        padding: 1.6rem 1.6rem .8rem;

        &:focus-visible {
          box-shadow: none;
          border-radius: .5rem;
        }

        &::placeholder {
          opacity: 1;
          font-family: "Founders Grotesk Light";
          font-size: 1.4rem;
          line-height: 1.7rem;
          color: rgba(0, 0, 0, 0.4);
        }
      }

      label {
        display: none;
      }
    }
    .newsletter-form__button {
      font-family: "Founders Grotesk Medium";
      opacity: 0.4;
      border: 1px solid #2E385A;
      border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      width: auto;
      margin-top: 2.9rem;
      padding: .8rem 1.4rem;
      transition: opacity .3s ease;

      &:hover {
        opacity: 1;
      }
    }
    .newsletter-form__message {

      &.form__message {
        font-family: "Founders Grotesk Light";
        color: #FF6666;

        svg {

          circle,
          stroke {
            fill: #FF6666;
          }
        }
      }
      &.newsletter-form__message--success {
        color: #4D835C;

        svg {
          circle,
          stroke {
            fill: #4D835C;
          }
        }
      }
    }
  }
}


/* Custom select*/
.filter-item {

  .facets__selected {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
  .vintage-filter-box {
    font-size: 1.4rem;
    line-height: 2.3rem;

    .facets-wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .custom-select {
      position: relative;

      .custom-select__list {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        text-align: center;
        background-color: #2E385A;
        z-index: 10;
        margin: 0;
        padding: .5rem 0;
        cursor: pointer;

        li {
          list-style-type: none;
          transition: color .3s ease;

          &:hover {
            color: #FF6666;
          }
        }
      }
      .custom-select__name {
        position: relative;
        border-bottom: 1px solid #FFF;
        font-size: 1.4rem;
        line-height: 2.3rem;
        padding: 0 2.1rem 0 .2rem;
        cursor: pointer;

        &:after {
          content: "";
          position: absolute;
          top: 8px;
          right: 0;
          width: .6rem;
          height: .6rem;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotate(45deg);
          transition: transform .3s ease;
        }
      }

      &.m-sl-open {

        .custom-select__name {
          
          &:after {
            top: 1.1rem;
            transform: rotate(225deg);
          }
        }
      }

      .custom-select__list {
        display: none;
      }
    }

    .vintage-list {
      display: none;
    }
  }
}

/* My account */
.customer {

  .customer__title {
    font-family: 'Arsenica Medium';
    font-weight: 500;
    font-size: 5rem;
    line-height: 5.65rem;
    margin-bottom: 4rem;

    @media screen and (min-width: 768px) {
      font-size: 6rem;
      line-height: 6.8rem;
    }
  }
}

.customer.account {
  max-width: none;
  padding: 6rem 1.5rem 0;
  max-width: 144rem;

  @media screen and (min-width: 768px) {
    padding: 6.4rem 4rem;
  }

  .customer-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 124.5rem;
    
    .customer-grid-column {
      width: 100%;
      max-width: 55.5rem;
      flex-grow: inherit;
      padding: 0;

      @media screen and (min-width: 990px) {
        width: calc(50% - 2rem);
      }

      @media screen and (min-width: 1024px) {
        width: calc(50% - 3rem);
      }

      @media screen and (min-width: 1201px) {
        width: calc(50% - 6.7rem);
      }

      
      .customer-grid__item {
        margin-bottom: 8rem;

        &.section-wishlist {
          @media screen and (min-width: 768px) {
            margin-bottom: 6.4rem;
          }
        }
      }
    }
  }

  .load-more {
    display: flex;
    margin: 4.8rem auto 0;
    
    @media screen and (min-width: 768px) {
      margin: 2.4rem auto 0;
    }
  }

  h2.my-account-heading {
    font-family: "Founders Grotesk Medium";
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin: 0 0 1.6rem;

    @media screen and (min-width: 768px) {
      font-size: 2.8rem;
      line-height: 3.4rem;
      padding-left: 2.4rem;
      margin: 0 0 2.4rem;
    }
  }

  .customer__title {
    margin-bottom: 8rem;

    @media screen and (min-width: 768px) {
      margin-bottom: 7.7rem;
    }
  }
}

/* Wishlist */

.card-prod__wishlist {
  a {
    display: flex;

    &:hover {
      path {
        fill: #f66;
      }
    }
  }

  svg {
    path:first-child {
      fill: transparent;
    }

    path:last-child {
      fill: #2e385a;
    }
  }
  .wishlist-button {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    
    &:not(.cutomer-not-login).active {
      path {
        fill: #FF6666;
      }
    }

    &:hover {
      path:last-child {
        fill: #FF6666;
      }
    }
  }
}

.section-wishlist {

  .section-wishlist-heading {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1.6rem;
    row-gap: 1.6rem;

    @media screen and (min-width: 400px) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 2.4rem;
    }

    .my-account-heading {
      margin: 0 !important;
    }

    #add-all-button {
      margin: 0;
    }
  }

  .wishlist-product-card {
    position: relative;
    background-color: #fff;
    border-radius: .5rem;
    padding: 1.6rem;
    margin-bottom: .2rem;

    @media screen and (min-width: 768px) {
      padding: 1.6rem 2.4rem;
    }

    &:nth-child(n+5) {
      display: none;
    }

    .card__content {
      display: flex;
      align-items: center;

      .card__body {
        display: flex;
        flex-direction: column;
        flex: 1;

        @media screen and (min-width: 768px) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          column-gap: 20px;
        }
      }

      .card__information {
        padding: 0;

        .card__header {
          color: rgba(46, 56, 90, 0.5);
        }

        .card__heading {
          font-size: inherit;
          line-height: 1;
          margin: 0;
          max-width: 23.6rem;

          a {
            font-family: "Founders Grotesk Regular";
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color:#2E385A;
            text-decoration: none;
          }
        }

        .card__vendor {
          font-family: "Founders Grotesk Light";
          font-size: 1.4rem;
        }
      }
    }

    .card-price-row {

      .price {
        font-family: "Founders Grotesk Regular";
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      .add_to_cart {
        min-height: auto;
        font-family: 'Founders Grotesk Medium';
        font-size: 1.8rem;
        line-height: 2.3rem;
        color: #2E385A;
        background-color: #ffffff;
        border: 1px solid #2E385A;
        border-radius: 5px;
        margin: .8rem 0 0;
        padding: .4rem 1.4rem .6rem;

        &:after,
        &:before {
          display: none;
        }

        &:hover {
          background: #2e385a;
          color: #ffffff;
        }
      }
    }

    .wishlist-button {
      width: 1.5rem;
      height: 1.5rem;
      min-height: auto;
      min-width: auto;
      position: absolute;
      top: .5rem;
      right: .5rem;
      background: transparent;
      margin: 0;
      padding: 0;

      &:after,
      &:before {
        content: "";
        width: .2rem;
        height: 100%;
        position: absolute;
        background-color: #2e385a;
        box-shadow: none;
        z-index: 1;
      }

      &:after {
        left: .7rem;
        transform: rotate(45deg);
      }

      &:before {
        top: .1rem;
        left: .7rem;
        transform: rotate(-45deg);
      }

      svg {
        display: none;
      }
    }

    .card__media {
      height: 13.5rem;
      margin: 0 2.4rem 0 0;

      @media screen and (min-width: 768px) {
        height: 7.8rem;
      }

      img {
        max-height: 100%;
      }
    }

    .card-price-row {
      display: block;
      min-width: fit-content;
    }
    
    .product-form__error-message-wrapper {
      font-family: 'Founders Grotesk Regular';
      color: #f66;
      line-height: 1.2;
      margin-top: .4rem;
    }  
  }

  .wishlist-result {
    width: 100%;
    font-family: "Founders Grotesk Medium";
    font-size: 1.8rem;
    color: #4D835C;
    margin: 0;
  }

  &.loading {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5rem;
      height: 5rem;
      border: 2px solid #2E385A70;
      border-left-color: #2E385A;
      border-radius: 50%;
      z-index: 3;
      animation: 1s linear 0s normal none infinite running rot;
    }

    &:before {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff50;
      z-index: 2;
    }
  }

  .wishlist-load-more {
    display: block;
    margin: 4.8rem auto 0;

    @media screen and (min-width: 768px) {
      margin: 2.4rem auto 0;
    }
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.wishlist-empty,
.refunds-empty,
.orders-empty,
.wishlist__loader {
  font-family: "Founders Grotesk Regular";
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 1.6rem 2.4rem;
  color: rgba(46, 56, 90, 0.5);
  border-radius: .5rem;
}

/* Customer details */

.customer-details {
  margin-bottom: 8rem;

  .customer-details-head {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;

    h2.my-account-heading {
      padding: 0;
      margin: 0 !important;
    }

    a {
      display: flex;
      margin-left: 1.6rem;

      &:hover {
        svg {
          path {
            fill: #FF6666;
          }
        }
      }
    }
  }
  .customer-info {

    .customer-info-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid rgba(46, 56, 90, 0.5);
    }
    
    .option,
    .value {
      padding: .8rem 0;
      font-size: 1.8rem;
      line-height: 2.5rem;
    }

    .option {
      font-family: "Founders Grotesk Semibold";
      font-weight: 600;
    }

    .value {
      font-family: "Founders Grotesk Regular";
    }
  }

  .customer-logout {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #2E385A;
    text-decoration: none;
    margin-top: .8rem;
  }
}

/* Customer orders */

.customer-orders {

  .customer-orders__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Founders Grotesk Regular";
    background: #FFFFFF;
    border-radius: .5rem;
    padding: 1.6rem;
    margin-bottom: .3rem;

    @media screen and (min-width: 768px) {
      padding: 2.4rem;
      margin-bottom: .2rem;
    }
  }

  .customer-order__count {
    font-family: "Founders Grotesk Light";
    position: absolute;
    top: .8rem;
    left: 1.6rem;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: rgba(46, 56, 90, 0.5);

    @media screen and (min-width: 768px) {
      left: 2.4rem;
    }
  }

  .customer-order__date,
  .customer-order__price {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .customer-order__date {

    @media screen and (max-width: 767px) {
      margin: 1rem 0 2.5rem;
    }
  }

  .customer-order__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      flex: 1;
      margin-left: 5.1rem;
    }
  }

  .customer-order__link {
    font-family: 'Founders Grotesk Medium';
    font-size: 14px;
    line-height: 23px;
    color: #2E385A;
    text-decoration: none;
    border: 1px solid #2E385A;
    border-radius: 5px;
    padding: .4rem .8rem .6rem;

    &:hover {
      background-color: #2E385A;
      color: #fff;
    }
  }
}

/* Customer refundeds */

.refund-orders {
  .order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 1.6rem 2.4rem;
    margin-bottom: .2rem;

    .refund-order-image {
      height: 13.5rem;
      margin: 0 2.4rem 0 0;

      @media screen and (min-width: 768px) {
        height: 7.8rem;
      }

      img {
        max-height: 100%;
      }
    }

    .order-item-info {
      display: flex;
      flex-direction: column;
      margin-right: auto;

      .order-item-vineyard,
      .order-created-date {
        font-family: "Founders Grotesk Light";
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: rgba(46, 56, 90, 0.5);
      }

      .order-item-title {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.4rem;
        text-decoration: none;
      }

      .order-created-date {
        margin-top: .8rem;
      }

      .order-item-price {
        margin-top: 1.2rem;
      }
    }
    .order-item-price {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
}

.customer .order-details {
  background-color: #fff;

  td {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.order-customer-info {

  @media screen and (min-width: 990px) {
    width: 30%;
  }
}

.hm-prod__img__bg,
.prod-sl__img__bg,
.card__media__bg {
  &.bg-rotwein {
    background-color: rgba(117, 23, 70, 0.2);
  }
  &.bg-rose {
    background-color: rgba(237, 117, 50, 0.2);
  }
  &.bg-weiss {
    background-color: rgba(177, 200, 37, 0.2);
  }
  &.bg-distillati {
    background-color: rgba(163, 211, 255, 0.5);
  }
}

.pr-custom__img__bg {
  &.bg-rotwein {
    background-color: rgb(117, 23, 70);
  }
  &.bg-rose {
    background-color: rgb(237, 117, 50);
  }
  &.bg-weiss {
    background-color: rgb(177, 200, 37);
  }
  &.bg-distillati {
    background-color: rgb(163, 211, 255);
    opacity: .5;
  }
}

div.customer.addresses:not(.account):not(.order) {
  position: relative;
  max-width: 144rem;
  padding: 6rem 1.5rem;
  text-align: left;
  
  @media screen and (min-width: 990px) {
    padding: 6.4rem 4rem;
  }

  .adresses-list {
    max-width: 124.5rem;

    @media screen and (min-width: 990px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .adress-item {
      background-color: #ffffff;
      text-align: left;
      margin-bottom: 4rem;
      padding: 2rem;

      @media screen and (min-width: 990px) {
        width: calc(50% - 3rem);
      }

      .address-item__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 2.4rem;
        row-gap: 1rem;

        .adress-item__title {
          font-family: 'Founders Grotesk Medium';
          font-weight: 500;
          font-size: 2.2rem;
          line-height: 2.8rem;
          margin: 0;
          text-align: left;

          @media screen and (min-width: 990px) {
            font-size: 2.8rem;
            line-height: 3.4rem;
            padding-left: 2.4rem;
          }
        }

        .button {
          margin: 0;
        }
      }

      .adress-info {
        .adress-info-row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          border-bottom: .1rem solid rgba(46, 56, 90, 0.5);
        }
        
        .option,
        .value {
          padding: .8rem 0;
          font-size: 1.8rem;
          line-height: 2.5rem;
        }
    
        .option {
          font-family: "Founders Grotesk Semibold";
          font-weight: 600;
        }
    
        .value {
          font-family: "Founders Grotesk Regular";
        }
      }
      .address-edit {
        font-family: "Founders Grotesk Regular";
        min-width: auto;
        color: #2E385A;
        font-size: 1.8rem;
        background-color: transparent;
        padding: 0;
        margin: 0;

        &::after,
        &::before {
          display: none;
        }

        svg {
          margin-right: 1rem;
        }

        &:hover {
          color: #FF6666;
          svg {
            path {
              fill: #FF6666;
            }
          }
        }
      }
    }
  }

  #AddAddress {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    background-color: #fff7f090;
    justify-content: center;
    overflow-y: auto;
    padding: 1.4rem;
    z-index: 2;

    @media screen and (min-width: 990px) {
      padding: 4rem;
    }

    .new-address-container {
      background-color: #FFF7F0;
      padding: 4rem;
      width: 50rem;
      max-width: 100%;
      margin: 0 auto;
      box-shadow: 0px -.2rem .8rem rgba(0, 0, 0, .8);
    }
  }
}

.header__icon--account {
  svg {
    width: 1.7rem;
    height: 1.7rem;
  }

  &:hover {
    svg {
      transform: scale(1.07);
    }
  }
}

.form__message.success {
  font-family: "Founders Grotesk Semibold";
  font-weight: 600;
  background-color: #4D835C;
  padding: .8rem 1.6rem;
  color: #FFFFFF;
  letter-spacing: 0.035em;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.customer form {
  margin-top: 3.2rem !important;
}

.shopify-challenge__container .shopify-challenge__button {
  margin-top: 2rem;
}

.contact {
  .form-status {
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  #ContactForm {
    max-width: 70rem;
  }

  .form__message.error,
  .contact__field-error  {
    .form__message,
    h2,
    & + .form-status-list a {
      font-size: 1.8rem;
      line-height: 2.4rem;
      text-align: left;
      color: #FF6666
    }
  }

  &.success {
    font-family: "Founders Grotesk Semibold";
    font-weight: 600;
    background-color: #4D835C;
    padding: .8rem 1.6rem;
    color: #FFFFFF;
    letter-spacing: 0.035em;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .field {
    display: block;
    border: none;

    input,
    textarea {
      font-size: 1.4rem;
      line-height: 2.4;
      border: none;
      flex: 1;
      padding: 0.5px;
      background: #F5EEE9;
      border-radius: 5px;
      padding: 2.2rem 1.5rem 0.8rem 2rem;

      &:focus {
        box-shadow: none;

        &~label {
          margin-top: 0;
        }
      }

      &:not(:placeholder-shown)~label {
        margin-top: 0;
      }
    }

    &:after,
    &:before {
      display: none;
    }

    label {
      font-family: "Founders Grotesk Light";
      color: rgba(0, 0, 0, 0.4);
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      margin-top: .8rem;
    }
  }
}

.register {
  .field__pass .error-field {
    background: #FCD0D0;
    color: #FF6666;
  }

  .custom-password-errors {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: left;
    color: #FF6666;
    margin: 1rem 0
  }
}

.template-search {
  .template-search__header h1 {
    font-family: 'Arsenica Medium';
    text-align: left;
    font-size: 5rem;
    line-height: 5.8rem;

    @media screen and (min-width: 990px) {
      font-size: 6rem;
      line-height: 6.8rem;
    }
  }

  .template-search__search {
    margin: 0;
  }
}

.cart-count-bubble {
  left: 1.5rem;
}
.collection-heading {
  opacity: 0;
  position: absolute;
}

.hm-prod:not(.pr-recommendations) {
  .card__badge {
  
    &.top {
      top: 10%;
      @media screen and (min-width: 1024px) {
        top: 50%;
      }
    }
  
    &.top.left {
      left: 0;
  
      @media screen and (min-width: 1024px) {
        left: 0;
        transform: translate(-50%, 0);
      }
    }
  }
}

.product-grid-container .loading-overlay {
  z-index: 3;
}
