.final-sale-page {
  .card__heading a:after {
    position: relative;
  }

  .card--extend-height.card--media {
    .card__inner {
      flex-grow: 0;
    }
  }

  .badge {
    &.checked {
      color: #fff;
      background-color: #181818;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }

  input[type=number] {
    -moz-appearance: textfield !important;
  }

  input[type=number]:focus-visible {
    outline: none;
    outline-offset: unset;
    box-shadow: none;
  }

  form.product-sale-form {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  button.button.button--secondary.decrease {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    padding: 10px;
    margin: 0 5px 0 0;
  }

  button.button.button--secondary.increase {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    padding: 10px;
    margin: 0 5px 0 0;
  }

  input#quantity {
    max-width: 10%;
    margin-right: 5px;
    text-align: center;
    margin-right: 5px
  }

  input.add-to-cart {
    margin-left: 20px;
  }
}